#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x09, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Select the features you want to install, clear the features you do not want to install.  Click Next to continue.",901,16,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Option1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,65,266,12
	CONTROL		"Option2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,80,266,12
	CONTROL		"Option3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,95,266,12
	CONTROL		"Option4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,110,266,12
	CONTROL		"Option5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,126,266,12
	CONTROL		"Option6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,144,12
	CONTROL		"Option7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,144,12
	CONTROL		"Option8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,144,12
	CONTROL		"Option9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,144,12
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Choose the setup type that best suits your needs.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12017 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	EDITTEXT	301,200,81,111,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 1:",719,16,84,178,8
	LTEXT		"This text is modifed by the 'szMsg' parameter.  You can reposition controls in this dialog and add static text fields.",711,16,40,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,16,163,298,17,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12018 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"Field 1:",719,16,84,178,8
	EDITTEXT	301,200,81,111,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 2:",720,16,116,178,8
	EDITTEXT	302,200,113,111,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"This text is modifed by the 'szMsg' parameter.  You can reposition controls in this dialog and add static text fields.",711,16,40,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,16,163,298,17,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12019 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"Field 1:",719,16,84,178,8
	EDITTEXT	301,200,81,111,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 2:",720,16,116,178,8
	EDITTEXT	302,200,113,111,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 3:",721,16,148,178,8
	EDITTEXT	303,200,145,111,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"This text is modifed by the 'szMsg' parameter.  You can reposition controls in this dialog and add static text fields.",711,16,40,298,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,16,163,298,17,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,271,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12033 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LISTBOX		401,16,53,179,120,LBS_NOTIFY | LBS_SORT | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | WS_TABSTOP,WS_EX_TRANSPARENT
	LTEXT		"Click the type of Setup you prefer.",710,16,40,296,9,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",711,210,62,107,104,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Choose the setup type that best suits your needs.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	GROUPBOX	"Description",-1,202,51,122,122,NOT WS_TABSTOP | 0x40000000
END


12052 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"Tree1",1000,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_FULLROWSELECT | WS_TABSTOP,16,59,180,99
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"Text",712,210,71,96,81
	LTEXT		"Select the features you want to install, and clear the features you do not want to install. ",711,16,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Space Required on",-1,16,161,62,9
	LTEXT		"Space Available on",-1,16,171,62,9
	RTEXT		"0 KB",717,120,171,69,9
	RTEXT		"0 KB",716,120,161,69,9
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"C:",722,83,161,8,8
	LTEXT		"C:",723,83,171,8,8
	LTEXT		"Select Features",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Choose the features Setup will install.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	GROUPBOX	"Description",-1,202,58,112,100,NOT WS_TABSTOP | 0x40000000
END


SiriusFeatureTree DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"Tree1",1000,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_FULLROWSELECT | WS_TABSTOP,16,59,180,99
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"Text",712,210,70,96,81
	LTEXT		"Select the features you want to install, and clear the features you do not want to install. ",711,16,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Choose the features Setup will install.",51,16,14,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Select Features",50,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	GROUPBOX	"Description",-1,202,58,112,100,NOT WS_TABSTOP | 0x40000000
END


