<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Sirius">
    <sources>
      <add name="Sirius" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Sirius.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.diagnostics>
    <switches>
      <add name="TraceLevelSwitch" value="4"/>
    </switches>
  </system.diagnostics>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="?"/>
      <deny users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="Microsoft.Web.Services3"/>
        <add namespace="SiriusFS.SAM.Structure"/>
        <add namespace="System"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Data.SqlTypes"/>
        <add namespace="System.Diagnostics"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.Mail"/>
        <add namespace="System.Web.Services"/>
        <add namespace="System.Web.Services.Protocols"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Xml"/>
        <add namespace="System.Xml.Schema"/>
        <add namespace="System.Xml.Serialization"/>
        <add namespace="System.Xml.XPath"/>
        <add namespace="Sirius.Architecture.Data"/>
        <add namespace="Sirius.Architecture.ExceptionHandling"/>
        <add namespace="Sirius.Architecture.Security.AspWse3"/>
        <add namespace="Sirius.Architecture.Utility"/>
      </namespaces>
    </pages>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
  </system.web>
  <appSettings>
    <add key="EmailProfileName" value="Agents Online"/>
    <add key="EmailProfilePassword" value=""/>
    <add key="EmailSMTPServer" value=""/>
    <add key="EmailFormat" value="2"/>
    <add key="FPSubject" value="Forgotten Password"/>
    <add key="FPBody" value="Dear {0},&lt;P/&gt;   Your password has been changed to:  {1}&lt;P/&gt;&lt;P/&gt;This has been sent because {2} requested a new password."/>
    <add key="FPFromName" value=""/>
    <add key="FPFromEmail" value=""/>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=AsynchronousFramework;Integrated Security=SSPI"/>
  </appSettings>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Sirius.Architecture.Security.AspWse3.SiriusUsernameTokenManager, Sirius.Architecture.Security.AspWse3, Culture=neutral, PublicKeyToken=afac53f54d148101" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
      </securityTokenManager>
    </security>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
</configuration>