<screens><screen version="1" screen_type="0" screen_code="motorcc" id="74">
<tab name="1 - Vehicle Details" url="MOTOR_VEHICLEDETAILS.aspx" id="3" />

  <tab name="2 - Liability Cover" id="6" url="MOTOR_LIABCOVER.aspx"  />
 

<tab name="3 - Driver Details" id="5" url="MOTORCC_DRIVERDETAILS.aspx" >
  <screen version="1" screen_code="DRIVERDETA" id="5_1" screen_type="0">
    <tab name="1 - General" id="5_1_1" url="Child/MemDetails_General.aspx">
      <screen version="1" screen_code="QUALIFA" id="5_1_1_1" screen_type="0">
        <tab name="Qualifications" id="5_1_1_1_1" url="Child/Child/Qualifications.aspx">
        </tab>
      </screen>
    </tab>
  </screen>
</tab>
 <tab id="Summary Of Cover " name="Summary Of Cover3" url="SummaryOfCover.aspx" referredscreen="false" visible="false"/>
    <tab id="4 - Summary Of Cover" name="Summary Of Cover" url="SummaryOfCover.aspx" summaryofcover="false" visible="false" />
</screen></screens>

