<screens><screen version="1" screen_type="0" screen_code="motor" id="1"><tab name="1 - Vehicle Details" url="MOTOR_VEHICLEDETAILS.aspx" id="motor_vehicledetails" /><tab name="2 - Tranvel Detials" url="MOTOR_TRANVELDETIALS.aspx" id="motor_tranveldetials"><screen version="1" screen_type="0" screen_code="dridet" id="vehdet__driverdet"><tab name="1 - General" url="Child/DRIDET_GENERAL.aspx" id="dridet_general" /></screen></tab><tab name="3 - Family Details" url="MOTOR_FAMILYDETAILS.aspx" id="motor_familydetails"><screen version="1" screen_type="0" screen_code="memdetails" id="familydetails__membersdetials"><tab name="1 - General" url="Child/MEMDETAILS_GENERAL.aspx" id="memdetails_general" /></screen></tab></screen></screens>