@import url('../Base/BaseStyleSheet.css');
.brandLogo
{
	background-image:       url('../Images/sirius-insurance-logo.gif');
	background-repeat:      no-repeat;
	height:                 80px; /* Height (in pixels) of the logo image */	
	width: 200px;
	float:left;
}