@model Thinktecture.IdentityServer.Web.Areas.Admin.ViewModels.UserPasswordModel

@{
    ViewBag.Title = "Change Password for " + Model.Username;
}

@using (Html.BeginForm())
{
   
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-heading">
            <h1>@ViewBag.Title</h1>
        </div>
           <div class="card-body clearfix">
               <div class="form-horizontal">
                    @Html.EditorForModel()
               </div>
           </div>
        <div class="card-footer">
             <button class="btn btn-sm btn-primary">Update</button>
        </div>
   </div>
     @Html.ValidationSummary("Errors updating profile:")
}