#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x09, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


12005 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	PUSHBUTTON	"B&rowse...",196,390,231,50,14
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	LTEXT		"Setup will install %P in the following folder.\n\nTo install to this folder, click Next. To install to a different folder, click Browse and select another folder.",718,135,49,310,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",715,141,235,240,8,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Choose Destination Location",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select folder where setup will install files.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	GROUPBOX	"Destination Folder",-1,135,219,310,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12061 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Please select a setup type.",710,16,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"&Complete",504,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,18,61,60,11
	CONTROL		"Cu&stom",503,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,18,106,56,11
	LTEXT		"All program features will be installed. (Requires the most disk space.)",11,64,75,245,19,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Select which program features you want installed. Recommended for advanced users.",703,64,120,245,31,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"B&rowse...",196,258,161,50,14,WS_GROUP
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"c:\\path\\company\\product",715,23,163,226,12,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the setup type that best suits your needs.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,72,201,27,12,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	ICON		10005,1001,31,74,20,20
	ICON		10003,1002,31,118,20,20
	GROUPBOX	"Destination Folder",-1,16,152,298,27,NOT WS_TABSTOP | 0x40000000
END


12013 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Feature List is displayed at this location.",401,16,63,298,100
	PUSHBUTTON	"&Select All",100,208,167,50,14,WS_GROUP
	PUSHBUTTON	"&Clear All",101,264,167,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"Select the features you want to install, and deselect the features you do not want to install.",710,16,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Select Features",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the options you want to install.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12020 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"Option One",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,63,298,10
	CONTROL		"Option Two",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,76,298,10
	CONTROL		"Option Three",503,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,89,298,10
	CONTROL		"Option Four",504,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,100,298,12
	LTEXT		"To install a feature, click the check box next to it.  If the check box is clear, that feature will not be installed.",711,16,40,298,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,100,120,205,40
	PUSHBUTTON	"< &Back",12,166,196,50,14
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Select Options",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the options you want to install.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12033 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LISTBOX		401,16,53,179,120,LBS_NOTIFY | LBS_SORT | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
	LTEXT		"Click the type of setup you prefer.",710,16,40,296,9,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",711,210,62,107,104,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the setup type that best suits your needs.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Description",-1,202,51,122,122,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12009 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"Typical",501,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,16,64,40,11
	CONTROL		"Compact",502,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,16,99,40,9
	CONTROL		"Custom",503,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,16,130,40,9
	PUSHBUTTON	"B&rowse...",196,258,161,50,14,WS_GROUP
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"Click the type of setup you prefer. ",710,16,40,298,17,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Program will be installed with the most common options. Recommended for most users.",701,69,64,243,24,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Program will be installed with minimum required options.",702,69,99,243,24,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"You may select the options you want to install. Recommended for advanced users.",703,69,128,243,24,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product",715,23,163,226,12,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the setup type that best suits your needs.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,72,201,27,12,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Destination Folder",-1,16,152,298,27,NOT WS_TABSTOP | 0x40000000
END


10105 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Select for the type of installation as either AppServer Only or AppServer with Database",901,135,49,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Option1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,135,79,310,12
	CONTROL		"Option2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,94,310,12
	CONTROL		"Option3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,108,310,12
	CONTROL		"Option4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,123,310,12
	CONTROL		"Option5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,139,310,12
	CONTROL		"Option6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,154,310,12
	CONTROL		"Option7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,169,310,12
	CONTROL		"Option8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,184,310,12
	CONTROL		"Option9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,199,310,12
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	LTEXT		"Select the type of installation required in this machine",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Sirius Product Installation Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10109 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,32,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Database Server Login",50,10,0,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select database server and authentication method",51,16,12,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Connection Name:",17819,135,38,71,11
	LTEXT		"",17820,210,38,224,11
	LTEXT		"&Database server that you are installing to:",902,135,56,306,11
	COMBOBOX	17815,135,67,310,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"B&rowse...",31,395,84,50,14
	CONTROL		"",1302,"Static",SS_ETCHEDHORZ | WS_GROUP,125,106,334,1
	LTEXT		"Connect using:",901,135,113,310,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Login ID:",-1,154,155,74,9
	EDITTEXT	301,154,166,288,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Password:",-1,154,187,87,9
	EDITTEXT	305,154,198,288,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	CONTROL		"",1303,"Static",SS_ETCHEDHORZ | WS_GROUP,125,219,334,1
	LTEXT		"&Name of database catalog:",17816,135,226,310,11
	EDITTEXT	17817,135,236,310,12,ES_LEFT | ES_AUTOHSCROLL | WS_BORDER
	PUSHBUTTON	"Br&owse...",17818,395,254,50,14
	PUSHBUTTON	"< &Back",12,195,282,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,282,50,14
	PUSHBUTTON	"Cancel",9,400,282,50,14
	PUSHBUTTON	"C",2,0,288,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	CONTROL		"&Windows authentication",17813,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,142,126,303,11
	CONTROL		"S&QL Server authentication using Login ID and password below",17814,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,142,140,303,11
END


12029 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,36,120,240
	EDITTEXT	301,135,73,310,150,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Yes",1,250,285,50,14
	PUSHBUTTON	"&No",9,400,285,50,14
	LTEXT		"Press the PAGE DOWN key to see the rest of the agreement.",711,135,49,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Do you accept all the terms of the preceding License Agreement?  If you select No,  the setup will close.  To install %p, you must accept this agreement.",712,135,228,230,34,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"&Print",10,395,228,50,14
	LTEXT		"License Agreement",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please read the following license agreement carefully.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10110 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,3,32,120,240,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	LTEXT		"Select Database Server",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select database server you want to install to",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Select the database server to install to from the list below or click Browse to see a list of all database servers.",710,135,49,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Database Server:",902,135,95,307,11
	COMBOBOX	17815,135,106,310,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"B&rowse...",31,395,123,50,14
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10108 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	LTEXT		"Database Server Login ",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Database server requires login credentials to continue.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Specify a SQL Login ID and Password.",901,135,49,310,32,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Login ID:",-1,135,93,310,9
	EDITTEXT	301,135,104,310,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Password:",-1,135,128,310,9
	EDITTEXT	305,135,139,310,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


17819 DIALOGEX 0,0,254,118
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Browse for a User Account" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	17821,7,40,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"&Browse...",32,197,40,50,14,WS_GROUP
	EDITTEXT	17826,7,70,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"B&rowse...",17827,197,70,50,14,WS_GROUP
	DEFPUSHBUTTON	"OK",1,143,99,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",17828,197,99,50,14
	LTEXT		"Use the browse buttons to select a domain\\server and a user name.",901,7,7,240,17,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&User name:",-1,7,58,182,9
	LTEXT		"",7,10,74,40,10,NOT WS_VISIBLE
	LTEXT		"&Domain or server:",-1,7,29,183,8
END


10104 DIALOGEX 0,0,254,100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Setup Needs The Next Disk" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	4,10,57,183,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"B&rowse...",31,198,56,50,14,WS_GROUP
	DEFPUSHBUTTON	"OK",1,143,83,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,198,83,50,14
	LTEXT		"Please insert the next disk, Disk %d. If the files on this disk can be found in another location, for example, in another drive, enter its full path or click the Browse button to select its path.",901,55,7,190,40,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",902,"Static",SS_BLACKFRAME | NOT WS_VISIBLE | WS_GROUP,10,7,32,27
	LTEXT		"Path:",-1,10,46,28,8
	LTEXT		"",7,10,74,40,10,NOT WS_VISIBLE
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,55,78,192,1
END


12018 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,37,120,240,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"&Browse...",1202,400,123,50,14,WS_GROUP
	EDITTEXT	301,174,91,224,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 2:",720,135,127,36,8
	EDITTEXT	302,175,123,224,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"This text is modifed by the 'szMsg' parameter.  You can reposition controls in this dialog and add static text fields.",711,135,49,310,33,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,16,163,298,17,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	LTEXT		"Edit Data",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Field 1:",719,135,95,36,8
	PUSHBUTTON	"&Browse...",1201,400,91,50,14,WS_GROUP
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12021 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Select Features",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the features setup will install.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Select the features you want to install, and deselect the features you do not want to install.",711,135,49,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Feature list field goes here.",401,135,70,310,125
	LTEXT		"c:\\path\\company\\product",715,141,209,228,10,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"B&rowse...",196,390,206,50,14,WS_GROUP
	PUSHBUTTON	"Disk &Space...",195,395,234,50,14,WS_GROUP
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	LTEXT		"Space Required on",-1,135,230,62,8
	LTEXT		"Space Available on",-1,135,241,62,8
	RTEXT		"0 KB",717,239,241,69,8
	RTEXT		"0 KB",716,239,230,69,8
	LTEXT		"C:",722,199,230,8,8
	LTEXT		"C:",723,199,241,8,8
	GROUPBOX	"Destination Folder",-1,135,198,310,26,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


588 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	1233,187,51,182,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	PUSHBUTTON	"&Browse...",1228,372,106,44,9,WS_GROUP
	EDITTEXT	1224,186,175,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	EDITTEXT	1225,187,108,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Enter the Sirius  Database Name,MDF Path and LDF Path",1238,18,14,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"New Database Details Input Dialog",1237,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,194,285,50,14,WS_GROUP
	PUSHBUTTON	"B&rowse...",1229,371,172,44,9,WS_GROUP
	LTEXT		"Enter the MDF file path for the database",1235,188,95,213,9,0,WS_EX_TRANSPARENT
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,40,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the Sirius Database name",1234,188,40,213,9,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the LDF file path for the database",1236,188,160,213,9,0,WS_EX_TRANSPARENT
END


500 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"&Browse...",1228,351,105,44,9,WS_GROUP
	EDITTEXT	1224,166,198,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	EDITTEXT	1225,166,107,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Enter the Database Backup Path",1239,18,14,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Database Backup Path Input Dialog ",1240,8,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"Backup Database Component",1238,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,165,159,144,8
	CONTROL		"Backup App Component",1237,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,166,73,144,8
	PUSHBUTTON	"< &Back",12,194,285,50,14,WS_GROUP
	PUSHBUTTON	"B&rowse...",1229,351,196,44,9,WS_GROUP
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,40,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"",51,24,14,213,11,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the LDF file path for the database",1236,166,180,213,9,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the MDF file path for the database",1235,165,94,240,9,0,WS_EX_TRANSPARENT
END


589 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	1133,186,126,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	LTEXT		"Enter the 4 digit  ICCS number to be used by Sirius Support Team",1206,18,14,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"ICCS Number Input Dialog",1207,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"",51,18,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the ICCS Number",1201,187,111,213,9,0,WS_EX_TRANSPARENT
END


12032 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,NOT WS_VISIBLE
	CONTROL		"Yes, I want to view the ReadMe file.",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,135,123,310,12
	CONTROL		"Yes, I want to launch %p now.",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,140,310,16
	LTEXT		"",712,135,162,310,56,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,195,285,50,14,WS_GROUP
	DEFPUSHBUTTON	"Finish",1,250,285,50,14
	PUSHBUTTON	"Cancel",9,400,285,50,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard has successfully installed %P.  Click Finish to exit the wizard.",711,135,74,310,48,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard Complete",50,135,49,310,16,0,WS_EX_TRANSPARENT
END




/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
10003		ICON	"C:\\Program Files\\InstallShield\\2009\\Script\\Dialogs\\IconId_10003.ico"
10005		ICON	"C:\\Program Files\\InstallShield\\2009\\Script\\Dialogs\\IconId_10005.ico"
