#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x09, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


12005 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	PUSHBUTTON	"B&rowse...",196,390,231,51,14
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	LTEXT		"Setup will install %P in the following folder.\n\nTo install to this folder, click Next. To install to a different folder, click Browse and select another folder.",718,135,50,310,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",715,141,235,240,8,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Choose Destination Location",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select folder where setup will install files.",51,17,16,213,20,0,WS_EX_TRANSPARENT
	GROUPBOX	"Destination Folder",-1,135,220,310,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12061 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Please select a setup type.",710,17,40,299,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"&Complete",504,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,62,60,11
	CONTROL		"Cu&stom",503,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,107,56,11
	LTEXT		"All program features will be installed. (Requires the most disk space.)",11,65,75,245,20,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Select which program features you want installed. Recommended for advanced users.",703,65,121,245,31,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"B&rowse...",196,259,162,51,14,WS_GROUP
	PUSHBUTTON	"< &Back",12,166,196,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,51,14
	PUSHBUTTON	"Cancel",9,272,196,51,14
	LTEXT		"c:\\path\\company\\product",715,23,163,227,12,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,43,186,289,2
	LTEXT		"",7,3,182,40,11,NOT WS_VISIBLE
	LTEXT		"Setup Type",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the setup type that best suits your needs.",51,17,16,213,20,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,73,201,28,12,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,2
	ICON		10005,1001,31,75,20,21
	ICON		10003,1002,31,119,20,21
	GROUPBOX	"Destination Folder",-1,17,153,299,27,NOT WS_TABSTOP | 0x40000000
END


12013 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Feature List is displayed at this location.",401,17,63,299,100
	PUSHBUTTON	"&Select All",100,208,167,51,14,WS_GROUP
	PUSHBUTTON	"&Clear All",101,265,167,51,14
	PUSHBUTTON	"< &Back",12,166,196,51,14
	DEFPUSHBUTTON	"&Next >",1,215,196,51,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,51,14
	LTEXT		"Select the features you want to install, and deselect the features you do not want to install.",710,17,40,299,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,43,186,289,2
	LTEXT		"",7,3,182,40,11,NOT WS_VISIBLE
	LTEXT		"Select Features",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the options you want to install.",51,17,16,213,20,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,2
	PUSHBUTTON	"C",2,164,226,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12020 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"Helv",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"Option One",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,17,63,299,11
	CONTROL		"Option Two",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,17,76,299,11
	CONTROL		"Option Three",503,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,17,89,299,11
	CONTROL		"Option Four",504,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,17,101,299,12
	LTEXT		"To install a feature, click the check box next to it.  If the check box is clear, that feature will not be installed.",711,17,40,299,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,100,121,205,40
	PUSHBUTTON	"< &Back",12,166,196,51,14
	DEFPUSHBUTTON	"&Next >",1,215,196,51,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,51,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,43,186,289,2
	LTEXT		"",7,3,182,40,11,NOT WS_VISIBLE
	LTEXT		"Select Options",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the options you want to install.",51,17,16,213,20,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,2
	PUSHBUTTON	"C",2,164,226,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12033 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LISTBOX		401,17,53,180,121,LBS_NOTIFY | LBS_SORT | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | WS_TABSTOP
	LTEXT		"Click the type of setup you prefer.",710,17,40,296,9,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",711,211,62,108,104,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Setup Type",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the setup type that best suits your needs.",51,17,16,213,20,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,51,14
	PUSHBUTTON	"Cancel",9,272,196,51,14
	LTEXT		"",7,3,182,40,11,NOT WS_VISIBLE
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,43,186,289,2
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,2
	GROUPBOX	"Description",-1,203,52,123,122,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,164,226,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12009 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"Typical",501,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,17,64,41,11
	CONTROL		"Compact",502,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,17,99,41,9
	CONTROL		"Custom",503,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,17,130,41,9
	PUSHBUTTON	"B&rowse...",196,259,162,51,14,WS_GROUP
	PUSHBUTTON	"< &Back",12,166,196,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,51,14
	PUSHBUTTON	"Cancel",9,272,196,51,14
	LTEXT		"Click the type of setup you prefer. ",710,17,40,299,17,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Program will be installed with the most common options. Recommended for most users.",701,69,64,244,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Program will be installed with minimum required options.",702,69,99,244,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"You may select the options you want to install. Recommended for advanced users.",703,69,128,244,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product",715,23,163,227,12,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,43,186,289,2
	LTEXT		"",7,3,182,40,11,NOT WS_VISIBLE
	LTEXT		"Setup Type",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the setup type that best suits your needs.",51,17,16,213,20,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,73,201,28,12,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,2
	GROUPBOX	"Destination Folder",-1,17,153,299,27,NOT WS_TABSTOP | 0x40000000
END


10105 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Select for the type of installation as either AppServer Only or AppServer with Database",901,135,50,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Option1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,135,80,310,12
	CONTROL		"Option2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,94,310,12
	CONTROL		"Option3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,109,310,12
	CONTROL		"Option4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,124,310,12
	CONTROL		"Option5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,139,310,12
	CONTROL		"Option6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,154,310,12
	CONTROL		"Option7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,169,310,12
	CONTROL		"Option8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,185,310,12
	CONTROL		"Option9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,199,310,12
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	LTEXT		"Select the type of installation required in this machine",51,17,16,213,20,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"SSP Pure Insurance Product Installation Type",50,11,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10109 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,32,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Database Server Login",50,11,0,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select database server and authentication method",51,17,12,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"Connection Name:",17819,135,39,71,11
	LTEXT		"",17820,211,39,225,11
	LTEXT		"&Database server that you are installing to:",902,135,57,307,11
	COMBOBOX	17815,135,67,310,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"B&rowse...",31,396,85,51,14
	CONTROL		"",1302,"Static",SS_ETCHEDHORZ | WS_GROUP,125,107,334,2
	LTEXT		"Connect using:",901,135,113,310,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Login ID:",-1,155,155,75,9
	EDITTEXT	301,155,167,289,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Password:",-1,155,187,87,9
	EDITTEXT	305,155,199,289,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	CONTROL		"",1303,"Static",SS_ETCHEDHORZ | WS_GROUP,125,219,334,2
	LTEXT		"&Name of database catalog:",17816,135,226,310,11
	EDITTEXT	17817,135,237,310,13,ES_LEFT | ES_AUTOHSCROLL | WS_BORDER
	PUSHBUTTON	"Br&owse...",17818,396,254,51,14
	PUSHBUTTON	"< &Back",12,196,282,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,282,51,14
	PUSHBUTTON	"Cancel",9,400,282,51,14
	PUSHBUTTON	"C",2,0,288,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	CONTROL		"&Windows authentication",17813,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,142,126,303,11
	CONTROL		"S&QL Server authentication using Login ID and password below",17814,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,142,140,303,11
END


12029 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,37,120,240
	EDITTEXT	301,135,73,310,151,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Yes",1,251,286,51,14
	PUSHBUTTON	"&No",9,400,286,51,14
	LTEXT		"Press the PAGE DOWN key to see the rest of the agreement.",711,135,50,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Do you accept all the terms of the preceding License Agreement?  If you select No,  the setup will close.  To install %p, you must accept this agreement.",712,135,229,230,34,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"&Print",10,396,229,51,14
	LTEXT		"License Agreement",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please read the following license agreement carefully.",51,17,16,213,20,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10110 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,4,33,120,240,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	LTEXT		"Select Database Server",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select database server you want to install to",51,17,16,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"Select the database server to install to from the list below or click Browse to see a list of all database servers.",710,135,50,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Database Server:",902,135,95,308,11
	COMBOBOX	17815,135,107,310,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"B&rowse...",31,396,123,51,14
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10108 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	LTEXT		"Database Server Login ",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Database server requires login credentials to continue.",51,17,16,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"Specify a SQL Login ID and Password.",901,135,50,310,32,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Login ID:",-1,135,94,310,9
	EDITTEXT	301,135,104,310,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Password:",-1,135,128,310,9
	EDITTEXT	305,135,139,310,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


17819 DIALOGEX 0,0,254,119
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Browse for a User Account" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	17821,7,40,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"&Browse...",32,197,40,51,14,WS_GROUP
	EDITTEXT	17826,7,71,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"B&rowse...",17827,197,71,51,14,WS_GROUP
	DEFPUSHBUTTON	"OK",1,143,99,51,14,WS_GROUP
	PUSHBUTTON	"Cancel",17828,197,99,51,14
	LTEXT		"Use the browse buttons to select a domain\\server and a user name.",901,7,7,240,18,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&User name:",-1,7,58,182,9
	LTEXT		"",7,11,75,40,11,NOT WS_VISIBLE
	LTEXT		"&Domain or server:",-1,7,30,183,8
END


10104 DIALOGEX 0,0,254,101
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Setup Needs The Next Disk" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	4,11,57,183,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"B&rowse...",31,198,57,51,14,WS_GROUP
	DEFPUSHBUTTON	"OK",1,143,84,51,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,198,84,51,14
	LTEXT		"Please insert the next disk, Disk %d. If the files on this disk can be found in another location, for example, in another drive, enter its full path or click the Browse button to select its path.",901,55,7,190,40,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",902,"Static",SS_BLACKFRAME | NOT WS_VISIBLE | WS_GROUP,11,7,32,27
	LTEXT		"Path:",-1,11,46,28,8
	LTEXT		"",7,11,75,40,11,NOT WS_VISIBLE
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,55,78,193,2
END


12018 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,1,38,120,240,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"&Browse...",1202,401,124,51,14,WS_GROUP
	EDITTEXT	301,174,91,225,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Field 2:",720,135,127,36,8
	EDITTEXT	302,175,123,225,12,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"This text is modifed by the 'szMsg' parameter.  You can reposition controls in this dialog and add static text fields.",711,135,50,310,34,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",712,17,163,299,18,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	LTEXT		"Edit Data",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Enter requested data.",51,17,16,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"Field 1:",719,135,95,36,8
	PUSHBUTTON	"&Browse...",1201,400,92,51,14,WS_GROUP
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12021 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Select Features",50,11,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select the features setup will install.",51,17,16,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"Select the features you want to install, and deselect the features you do not want to install.",711,135,50,310,16,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Feature list field goes here.",401,135,71,310,126
	LTEXT		"c:\\path\\company\\product",715,141,209,228,11,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"B&rowse...",196,390,206,51,14,WS_GROUP
	PUSHBUTTON	"Disk &Space...",195,396,235,51,14,WS_GROUP
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	LTEXT		"Space Required on",-1,135,231,62,8
	LTEXT		"Space Available on",-1,135,242,62,8
	RTEXT		"0 KB",717,239,242,69,8
	RTEXT		"0 KB",716,239,231,69,8
	LTEXT		"C:",722,199,231,9,8
	LTEXT		"C:",723,199,242,9,8
	GROUPBOX	"Destination Folder",-1,135,199,310,26,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


588 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	1233,188,53,182,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	PUSHBUTTON	"&Browse...",1228,372,107,44,10,WS_GROUP
	EDITTEXT	1224,187,176,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	EDITTEXT	1225,188,108,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Enter the SSP Pure  Database Name,MDF Path and LDF Path",1238,19,15,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"SSP Pure Database Details Input Dialog",1237,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,194,286,51,14,WS_GROUP
	PUSHBUTTON	"B&rowse...",1229,372,173,44,10,WS_GROUP
	LTEXT		"Enter the MDF file path for the database",1235,188,95,260,8,0,WS_EX_TRANSPARENT
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,40,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the SSP Pure Database name",1234,188,40,213,10,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the LDF file path for the database",1236,188,161,238,10,0,WS_EX_TRANSPARENT
END


500 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"&Browse...",1228,351,105,44,10,WS_GROUP
	EDITTEXT	1224,166,199,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	EDITTEXT	1225,166,107,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	LTEXT		"Enter the Database Backup Path",1239,19,15,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"Database Backup Path Input Dialog ",1240,8,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"Backup Database Component",1238,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,165,159,145,8
	CONTROL		"Backup App Component",1237,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,166,73,145,8
	PUSHBUTTON	"< &Back",12,194,286,51,14,WS_GROUP
	PUSHBUTTON	"B&rowse...",1229,351,196,44,10,WS_GROUP
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,40,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"",51,24,15,213,11,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the LDF file path for the database",1236,166,181,243,10,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the MDF file path for the database",1235,165,94,240,10,0,WS_EX_TRANSPARENT
END


589 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	EDITTEXT	1133,187,126,183,14,ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	LTEXT		"Enter the 4 digit  ICCS number to be used by SSP Pure Support Team",1206,19,15,213,20,0,WS_EX_TRANSPARENT
	LTEXT		"ICCS Number Input Dialog",1207,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,0,291,51,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,0,WS_EX_TRANSPARENT
	LTEXT		"Enter the ICCS Number",1201,188,112,213,10,0,WS_EX_TRANSPARENT
	LTEXT		"",51,18,16,213,20,0,WS_EX_TRANSPARENT
END


12032 DIALOGEX 0,0,460,305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,35,120,240,NOT WS_VISIBLE
	CONTROL		"Yes, I want to view the ReadMe file.",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,135,124,310,12
	CONTROL		"Yes, I want to launch %p now.",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,140,310,16
	LTEXT		"",712,135,162,310,57,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,196,286,51,14,WS_GROUP
	DEFPUSHBUTTON	"Finish",1,251,286,51,14
	PUSHBUTTON	"Cancel",9,400,286,51,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard has successfully installed %P.  Click Finish to exit the wizard.",711,135,75,310,48,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard Complete",50,135,50,310,16,0,WS_EX_TRANSPARENT
END




/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
10003		ICON	"C:\\Program Files\\InstallShield\\2010\\Script\\Dialogs\\IconId_10003.ico"
10005		ICON	"C:\\Program Files\\InstallShield\\2010\\Script\\Dialogs\\IconId_10005.ico"
