<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<!--sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup--> 
		<section name="ruleLineHandler" type="RulesEngine.RuleLineHandlers.HandlerConfiguration, RulesEngine.RuleLineHandlers" />
		<section name="xsdPublisher" type="RulesEngine.CodeGenerator.XsdPublisherConfiguration, RulesEngine.CodeGenerator" />
		<section name="exceptionReportingConfiguration" type="RulesEngine.Website.ExceptionReportingConfiguration, RulesEngine.Website" />
		<section name="sendEmailConfiguration" type="RulesEngine.EngineCommon.SendEmailConfiguration, RulesEngine.EngineCommon" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RulesEngine.Website.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
    <add key="VERSION" value="1.2.0" />
		<add key="ShortDateFormat" value="dd MMM yyyy" />
		<add key="LongDateFormat" value="dd MMMM yyyy" />
		<add key="ShortDateTimeFormat" value="dd MMM yyyy HH:mm" />
		<add key="LongDateTimeFormat" value="dd MMMM yyyy HH:mm" />
		<add key="NoDBTransactions" value="Y" />
		<add key="Declarations" value="Declarations" />
		<add key="NotGrouped" value="Not Grouped" />
		<add key="PasswordAttempts" value="5" />
		<add key="RuleSetTreeViewLineNumberWidth" value="250" />
		<add key="RuleSetTreeViewColumnsWidth" value="1600" />
		<add key="UseSQLiteIfGridBiggerThanThis" value="2097152"/>
		<add key="SQLiteDLLPath" value="C:\DRE\Site\Bin\System.Data.SQLite.dll"/>
	</appSettings>
	<connectionStrings>
		<remove name="database" />
    	<add name="database" providerName="Sql" connectionString="Data Source=(local);Initial Catalog=DRE;Pooling=False;MultipleActiveResultSets=true;User Id=sirius;password=$1R1U5"></add>
		<add name="s4i" providerName="Sql" connectionString="Data Source=(local);Initial Catalog=PURE;Pooling=False;MultipleActiveResultSets=true;User Id=sirius;password=$1R1U5"></add>
	</connectionStrings>
	<system.web>
    <httpRuntime maxRequestLength="204800" executionTimeout="3600" />	
		<pages theme="Default">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
			<tagMapping>
				<add tagType="System.Web.UI.WebControls.CompareValidator" mappedTagType="Sample.Web.UI.Compatibility.CompareValidator, Validators, Version=1.0.0.0" />
				<add tagType="System.Web.UI.WebControls.CustomValidator" mappedTagType="Sample.Web.UI.Compatibility.CustomValidator, Validators, Version=1.0.0.0" />
				<add tagType="System.Web.UI.WebControls.RangeValidator" mappedTagType="Sample.Web.UI.Compatibility.RangeValidator, Validators, Version=1.0.0.0" />
				<add tagType="System.Web.UI.WebControls.RegularExpressionValidator" mappedTagType="Sample.Web.UI.Compatibility.RegularExpressionValidator, Validators, Version=1.0.0.0" />
				<add tagType="System.Web.UI.WebControls.RequiredFieldValidator" mappedTagType="Sample.Web.UI.Compatibility.RequiredFieldValidator, Validators, Version=1.0.0.0" />
				<add tagType="System.Web.UI.WebControls.ValidationSummary" mappedTagType="Sample.Web.UI.Compatibility.ValidationSummary, Validators, Version=1.0.0.0" />
			</tagMapping>
		</pages>
		<!--FORMS AUTHENTICATION-->
		<authentication mode="Forms">
			<forms cookieless="UseCookies" defaultUrl="~/Default.aspx" loginUrl="~/Login.aspx" name=".ASPXAUTH" timeout="7200" slidingExpiration="true" requireSSL="false" protection="All" path="/" />
		</authentication>
		<authorization>
			<allow users="*" />
			<!--deny users="?"/-->
		</authorization>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers accessPolicy="Read, Script">
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<remove name="WebServiceHandlerFactory-Integrated" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</handlers>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
        </httpErrors>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="524288000"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="~/TempUpload">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ErrorPages">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ForgotPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<sessionState timeout="720" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/AppError.aspx">
      <error statusCode="404" redirect="~/ErrorPages/Error404.aspx" />
    </customErrors>
	</system.web>	
  <exceptionReportingConfiguration fromEmail="dre.website.exception@ssp.uk.com" toEmail="john.conner@ssp-uk.com,olaf.gallagher@ssp-uk.com,richard.clarke@ssp-uk.com" ignoreHttpExceptionFileNotFoundExceptions="true" />
  <xsdPublisher workingDirectory="C:\DRE\Site\TempUpload\" xsdExePath="C:\DRE\Site\bin\xsd.exe" includeDebugFile="true" />
  <sendEmailConfiguration host="TESTSMTP.3d.prci.com" port="25" systemAddress="dre.website@ssp-uk.com" />
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	  <runtime>
	    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	      <dependentAssembly>
		<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
	      </dependentAssembly>
	      <dependentAssembly>
		<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
	      </dependentAssembly>
	      <dependentAssembly>
		<assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" />
		<bindingRedirect oldVersion="1.0.20229.20821" newVersion="4.1.40412.0" />
	      </dependentAssembly>
	    </assemblyBinding>
	  </runtime>
	<applicationSettings>
		<RulesEngine.Website.Properties.Settings>
			<setting name="RulesEngine_Website_Publisher_Publisher" serializeAs="String">
				<value>http://url.com</value>
			</setting>
			<setting name="ShortDateFormat" serializeAs="String">
				<value>dd MMM yy</value>
			</setting>
			<setting name="LongDateFormat" serializeAs="String">
				<value>dd MMM yyyy</value>
			</setting>
			<setting name="ShortDateTimeFormat" serializeAs="String">
				<value>dd MMM yy HH:mm</value>
			</setting>
			<setting name="LongDateTimeFormat" serializeAs="String">
				<value>dd MMM yyyy HH:mm</value>
			</setting>
		</RulesEngine.Website.Properties.Settings>
	</applicationSettings>
	<ruleLineHandler>
		<codeGenerators>
			<clear />
		</codeGenerators>
		<runtimeHandlers>
			<clear />
		</runtimeHandlers>
		<customTasks>
			<clear />
			<customTask taskName="PureInsAddOutput" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsAddOutput.dll" lineHandlerClassName="RulesEngine.Website.PureInsAddOutput.PureInsAddOutputLineHandler" />
			<customTask taskName="PureInsAddEntity" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsAddEntity.dll" lineHandlerClassName="RulesEngine.Website.PureInsAddEntity.PureInsAddEntityLineHandler" />
			<customTask taskName="PureInsClearEntity" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsClearEntity.dll" lineHandlerClassName="RulesEngine.Website.PureInsClearEntity.PureInsClearEntityLineHandler"/>
			<customTask taskName="PureInsAddDecline" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsAddDecline.dll" lineHandlerClassName="RulesEngine.Website.PureInsAddDecline.PureInsAddDeclineLineHandler" />
			<customTask taskName="PureInsProperties" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsProperties.dll" lineHandlerClassName="RulesEngine.Website.PureInsProperties.PureInsPropertiesLineHandler" />
			<customTask taskName="PureInsAddOutputCommission" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsAddOutputCommission.dll" lineHandlerClassName="RulesEngine.Website.PureInsAddOutputCommission.PureInsAddOutputCommissionLineHandler"/>
			<customTask taskName="PureInsAddOutputPremiumBreakdown" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsAddOutputPremiumBreakdown.dll" lineHandlerClassName="RulesEngine.Website.PureInsAddOutputPremiumBreakdown.PureInsAddOutputPremiumBreakdownLineHandler"/>
			<customTask taskName="PureInsAddOutputReferrals" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsAddOutputReferrals.dll" lineHandlerClassName="RulesEngine.Website.PureInsAddOutputReferrals.PureInsAddOutputReferralsLineHandler"/>
			<customTask taskName="PureInsAddOutputReferralsAudit" assembly="C:\DRE\Site\bin\RulesEngine.Website.PureInsAddOutputReferralsAudit.dll" lineHandlerClassName="RulesEngine.Website.PureInsAddOutputReferralsAudit.PureInsAddOutputReferralsAuditLineHandler"/>
		</customTasks>
	</ruleLineHandler>
</configuration>
