body 
{
	background:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color:#717171;
}

.button
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BA0C28;
	height: 21px;
	width: 4%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	
}



.top_nav {
	height: 24px;
	width: 100%;
	background-color: #BA0C28;
	margin-right: 15px;
}



