<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="Claim" value="Name,Email,Roles" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--<add name="TokenServiceEntities" connectionString="metadata=res://*/Domain.TokenServiceEntities.csdl|res://*/Domain.TokenServiceEntities.ssdl|res://*/Domain.TokenServiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-SET-VM01;initial catalog=Sirius_VM01;user id=sirius;password=$1R1U5;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TokenServiceEntities" connectionString="metadata=res://*/Domain.TokenServiceEntities.csdl|res://*/Domain.TokenServiceEntities.ssdl|res://*/Domain.TokenServiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-SET-VM01;initial catalog=Sirius_VM01;user id=sirius;password=$1R1U5;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TokenServiceEntities" connectionString="metadata=res://*/Domain.TokenServiceEntities.csdl|res://*/Domain.TokenServceEntities.ssdl|res://*/Domain.TokenServiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-SET-VM01;initial catalog=Sirius_VM01;user id=sirius;password=$1R1U5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TokenServiceEntities" connectionString="metadata=res://*/Domain.SSP.IDServer.csdl|res://*/Domain.SSP.IDServer.ssdl|res://*/Domain.SSP.IDServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-SET-VM01;initial catalog=Sirius_VM01;user id=sirius;password=$1R1U5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <!--<add name="SiriusEntities" connectionString="metadata=res://*/Domain.TokenServiceEntities.csdl|res://*/Domain.TokenServiceEntities.ssdl|res://*/Domain.TokenServiceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM-MAIN-KKG;initial catalog=PureDB;persist security info=True;user id=sa;password=Sirius@India;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
