<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="SFS.SiriusTransactionService.Client.STSPartiesAndPolicies.PartiesAndPolicies" value="http://localhost:11109/siriusfs.sts.serviceagent/partiesandpolicies.asmx"/>
    <add key="SFS.SiriusTransactionService.Client.STSListManagement.ListManagement" value="http://localhost:11109/siriusfs.sts.ServiceAgent/ListManagement.asmx"/>
    <add key="SourceLocation" value="C:\Inetpub\wwwroot\SiriusOnline\"/>
  </appSettings>
  <exceptionManagement>
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.DefaultPublisher" logName="MyApp Exception Log" applicationName="My Application"/>
    <publisher assembly="MyApp" type="MyApp.CustomPublisher" fileName="c:\errors.log"/>
    <publisher assembly="MyApp" type="MyApp.CustomPublisher" exceptionFormat="xml"/>
  </exceptionManagement>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
