@model byte[]
@using Thinktecture.IdentityServer.Web.Areas.Admin.App_LocalResources.Shared.EditorTemplates
@using Thinktecture.IdentityServer.Web.Utility
@{
    var value = Model != null ? Convert.ToBase64String(Model) : String.Empty;
    var id = this.ViewData.TemplateInfo.GetFullHtmlFieldId("");
}
<div class="input-group">
    @Html.TextBox("", value, new { @class="form-control base64" })
     <span class="input-group-btn">
        <button type="button" data-base64target="@id" class="btn btn-sm btn-default base64">@Byte___cshtml.Generate</button>
     </span>
</div>
