<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SiriusFS.SAM.Nunit.SAMForInsurance.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <SiriusFS.SAM.Nunit.SAMForInsurance.My.MySettings>
      <setting name="SiriusFS_SAM_Nunit_SAMForInsurance_ProxyWS_SAMForInsurance"
        serializeAs="String">
        <value>http://localhost:4462/SIRIUSFS.SAM.SERVICEAGENT/SAMForInsurance.asmx</value>
      </setting>
      <setting name="XMLTestRiskDataFileName" serializeAs="String">
        <value>c:\Source\STS\SAM Solution\TestRiskData.xml</value>
      </setting>
      <setting name="ClaimMTAXMLDataSetFileName" serializeAs="String">
        <value>c:\Source\STS\SAM Solution\ClaimMTAXMLDataSet.xml</value>
      </setting>
      <setting name="TestXMLDataSetFileName" serializeAs="String">
        <value>c:\Source\STS\SAM Solution\TestDataSet.xml</value>
      </setting>
      <setting name="XMLTestDataFileName" serializeAs="String">
        <value>c:\Source\STS\SAM Solution\SAMForInsuranceTestData.xml</value>
      </setting>
    </SiriusFS.SAM.Nunit.SAMForInsurance.My.MySettings>
  </applicationSettings>
  <microsoft.web.services3>
    <security>
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
</configuration>