<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection,  Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<appSettings>
		<add key="WCFSecurityToken" value="f0a46836-9454-4b67-9f74-23a918aa2c55"/>
		<add key="LogBusinessRuleErrors" value="False"/>
		<add key="CCMContractTypeName" value="PureContract"/>
		<add key="PartyRecordsToFetch" value="500"/>
	</appSettings>
	 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<enterpriseLibrary.ConfigurationSource selectedSource="Sirius">
		<sources>
			<add name="Sirius" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource,  Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Sirius.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<system.diagnostics>
		<switches>
			<add name="TraceLevelSwitch" value="4"/>
		</switches>
	</system.diagnostics>
	<system.web>
		<compilation debug="false" strict="false" explicit="true" targetFramework="4.8"/>
		<httpRuntime/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<sessionState mode="Off"/>
		<trust level="Full"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="SiriusFS.SAM.WCFService.PureMessagingService">
				<endpoint binding="basicHttpBinding" bindingConfiguration="basicHTTPBindingConfig" contract="SiriusFS.SAM.WCFService.IPureMessagingService"/>
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add relativeAddress="PureMessagingService.svc" service="SiriusFS.SAM.WCFService.PureMessagingService"/>
				<add relativeAddress="PureSecurityService.svc" service="SiriusFS.SAM.WCFService.PureService"/>
				<add relativeAddress="PureAccountService.svc" service="SiriusFS.SAM.WCFService.PureService"/>
				<add relativeAddress="PureCoreService.svc" service="SiriusFS.SAM.WCFService.PureService"/>
				<add relativeAddress="PurePartyService.svc" service="SiriusFS.SAM.WCFService.PureService"/>
				<add relativeAddress="PureClaimService.svc" service="SiriusFS.SAM.WCFService.PureService"/>
				<add relativeAddress="PurePolicyService.svc" service="SiriusFS.SAM.WCFService.PureService"/>
			</serviceActivations>
		</serviceHostingEnvironment>
		<!-- Protocols -->
		<protocolMapping>
			<add scheme="http" binding="customBinding" bindingConfiguration="BinaryHttpBinding"/>
		</protocolMapping>
		<bindings>
			<!-- WCF services binding -->
			<customBinding>
				<binding name="BinaryHttpBinding" sendTimeout="05:00:00" receiveTimeout="05:00:00">
					<binaryMessageEncoding/>
					<httpTransport maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"/>
				</binding>
			</customBinding>
			<basicHttpBinding>
				<binding name="basicHTTPBindingConfig" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
				</binding>
				<binding name="ITPInTheCloud1"/>
				<binding name="ITPInTheCloud"/>
			</basicHttpBinding>
		</bindings>
		<!-- Behaviors -->
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ITPInTheCloud1" contract="CCM_Azure.ITPInTheCloud" name="ITPInTheCloud1"/>
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="ITPInTheCloud" contract="CCM_AzureForPDF.ITPInTheCloud" name="ITPInTheCloud"/>
		</client>
	</system.serviceModel>
	<system.webServer>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="false"/>
	</system.webServer>
</configuration>