<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.2.9" targetFramework="net461" />
  <package id="GroupControls" version="1.8.1" targetFramework="net461" />
  <package id="TaskScheduler" version="2.9.1" targetFramework="net461" />
  <package id="TaskSchedulerEditor" version="2.9.1" targetFramework="net461" />
  <package id="TimeSpan2" version="2.3.1" targetFramework="net461" />
  <package id="Tulpep.ActiveDirectoryObjectPicker" version="3.0.7" targetFramework="net461" />
</packages>