<screens>
  <screen version="1" screen_type="0" screen_code="motorcc" id="74">
    <tab id="2" name="MainDetails" url="MainDetails.aspx" maindetails="true" />
    <tab name="1 - Vehicle Details" url="MOTOR_VEHICLEDETAILSQQ.aspx" id="3" />
    <tab name="2 - Liability Cover" id="6" url="MOTOR_LIABCOVER.aspx"  />
   <tab id="Summary Of Cover " name="Summary Of Cover3" url="SummaryOfCover.aspx" referredscreen="false" visible="false"/>
    <tab id="3 - Summary Of Cover" name="Summary Of Cover" url="SummaryOfCover.aspx" summaryofcover="false" />
  </screen>
</screens>

