<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SamServers" type="ReinsuranceTransfer.SamConfiguration.SamServersConfigSection, ReinsuranceTransfer" />
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <SamServers>
    <Instances>
      <add instanceId="1" address="https://localhost:7246/api/" username="sirius" password="sirius" concurrentLimit="1" timeout="1000000" clientId="SSP-Red"  tenantId="" tokenUrl="http://ps-altova-ls01/realms/SSPStandard/protocol/openid-connect/token" />
    </Instances>
  </SamServers>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPureMessagingService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <customBinding>

        <binding name="CustomBinding_IPureSecurityService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        </binding>

        <binding name="CustomBinding_IPurePolicyService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        </binding>

      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/PureWCFServices/PureSecurityService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IPureSecurityService" contract="PureService.IPureSecurityService" name="CustomBinding_IPureSecurityService" />
      <endpoint address="http://localhost/PureWCFServices/PurePolicyService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IPurePolicyService" contract="PureService.IPurePolicyService" name="CustomBinding_IPurePolicyService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>