<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Shared">
    <sources>
      <add name="Shared" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Sirius.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <!-- number of additional threads to create -->
    <add key="AdditionalNumberOfThreads" value="0"/>
    <!-- number of seconds to wait for worker threads to shut down -->
    <add key="ThreadShutdownTimeout" value="20"/>
    <!-- polling frequency in milliseconds (1000 = 1 sec) -->
    <add key="PollingFrequency" value="10000"/>
    <!-- Sirius Login Name to use to launch Sirius Components -->
    <add key="SiriusLoginUserName" value="sirius"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="EXWRKITEM" value="2"/>
    <add key="WaitMiuntesBeforeRetry" value="9"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>    
    <add key="ApiEndpoint" value="https://localhost:7246/api/"/>
    <!-- Pinging time to reload webservice to avoide timeout issues (value in minutes) default 20 min and to stop pinging set to 0 and restart the service  -->
    <add key="WCFPingAfter" value="20"/>
    <add key="CCMContractTypeName" value="PureContract"/>
	  <add key="ClientId" value="SSP-Red"/>
	  <add key="TenantId" value=""/>
	  <add key="TokenUrl" value="http://ps-altova-ls01/realms/SSPStandard/protocol/openid-connect/token"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=afac53f54d148101" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=afac53f54d148101" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ITPInTheCloud1"/>
        <binding name="ITPInTheCloud"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ITPInTheCloud1" contract="CCM_Azure.ITPInTheCloud" name="ITPInTheCloud1"/>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ITPInTheCloud" contract="CCM_AzureForPDF.ITPInTheCloud" name="ITPInTheCloud"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
