<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="Error (Event Log)" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add toAddress="test.admin@ssp-uk.com" fromAddress="sa.net@ssp-uk.com"
        subjectLineStarter="" subjectLineEnder="" smtpServer="127.0.0.1"
        smtpPort="25" formatter="Text File" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Email Administrator" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" type="Sirius.Architecture.ApplicationBlock.SiriusDatabaseTraceListener, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
        name="Sirius Database" initializeData="" formatter="Database Table" />
      <add fileName="Sirius.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text File"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Sirius Log File" />
      <add source="PureInsurance" formatter="Event Log" log="PUREApplicationLog"
        machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="LogicalOperationStack, Callstack" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Windows Application Event Log" />
    </listeners>
    <formatters>
      <add template="{message}&#xD;&#xA;{dictionary({key}: {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Database Table" />
      <add template="{message}&#xD;&#xA;{dictionary({key}: {value}&#xD;&#xA;)}&#xD;&#xA;&#xD;&#xA;Priority: {priority}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Machine: {machine}&#xD;&#xA;AppDomain: {appDomain}&#xD;&#xA;ProcessID: {processId}&#xD;&#xA;ProcessName: {processName}&#xD;&#xA;ThreadID: {win32ThreadId}&#xD;&#xA;ThreadName: {threadName}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Event Log" />
      <add template="{message}&#xD;&#xA;{dictionary({key}: {value}&#xD;&#xA;)}&#xD;&#xA;&#xD;&#xA;Priority: {priority}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Timestamp: {timestamp}&#xD;&#xA;Title: {title}&#xD;&#xA;Category: {category}&#xD;&#xA;EventID: {eventid}&#xD;&#xA;Machine: {machine}&#xD;&#xA;AppDomain: {appDomain}&#xD;&#xA;ProcessID: {processId}&#xD;&#xA;ProcessName: {processName}&#xD;&#xA;ThreadID: {win32ThreadId}&#xD;&#xA;ThreadName: {threadName}&#xD;&#xA;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text File" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Category Filter">
        <categoryFilters>
          <add name="Debug" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="Windows Application Event Log" />
        </listeners>
      </add>
      <add switchValue="Error" name="Email">
        <listeners>
          <add name="Email Administrator" />
        </listeners>
      </add>
      <add switchValue="All" name="Error (Database)">
        <listeners>
          <add name="Sirius Database" />
        </listeners>
      </add>
      <add switchValue="All" name="Error (Event Log)">
        <listeners>
          <add name="Windows Application Event Log" />
        </listeners>
      </add>
      <add switchValue="All" name="NonDebug">
        <listeners>
          <add name="Windows Application Event Log" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Windows Application Event Log" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Windows Application Event Log" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Business Layer">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception" />
        </exceptionTypes>
      </add>
      <add name="Business Layer Boundary">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add logCategory="Error (Database)" eventId="1" severity="Error"
                title="Sirius" formatterType="Sirius.Architecture.ApplicationBlock.LogWithoutErrorsExceptionFormatter, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Log full details" />
              <add type="Sirius.Architecture.ApplicationBlock.SAMResponseExceptionHandler, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                name="Replace with safe SAMMethodException" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Interface Layer">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception" />
        </exceptionTypes>
      </add>
      <add name="Interface Layer Top">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Error (Event Log)" eventId="2" severity="Error"
                title="Sirius" formatterType="Sirius.Architecture.ApplicationBlock.LogWithErrorsExceptionFormatter, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Log full details" />
              <add type="Sirius.Architecture.ApplicationBlock.DialogExceptionHandler, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                name="Display error dialog on screen" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Log and Absorb">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add logCategory="Error (Event Log)" eventId="1" severity="Error"
                title="Sirius" formatterType="Sirius.Architecture.ApplicationBlock.LogWithErrorsExceptionFormatter, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Log full details" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Unattended Service">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="Error (Event Log)" eventId="1" severity="Error"
                title="Sirius" formatterType="Sirius.Architecture.ApplicationBlock.LogWithErrorsExceptionFormatter, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Log full details" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Unattended Service Top">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="Error (Event Log)" eventId="1" severity="Error"
                title="Sirius" formatterType="Sirius.Architecture.ApplicationBlock.LogWithErrorsExceptionFormatter, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Log full details" />
              <add logCategory="Email" eventId="1" severity="Error" title="Sirius"
                formatterType="Sirius.Architecture.ApplicationBlock.LogWithErrorsExceptionFormatter, Sirius.Architecture.ApplicationBlock, Culture=neutral, PublicKeyToken=afac53f54d148101"
                priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Email administrator" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <cachingConfiguration defaultCacheManager="PureCache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="PureCache" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
</configuration>
