CREATE PROCEDURE [dbo].[Report_SSRS_PolicyCounts]
(
	@BranchName VARCHAR(255)
)AS
/*
	EXEC Report_SSRS_PolicyCounts 'Mbabane Branch'
*/
BEGIN
	SELECT Policy_Insurance_ref AS 'Policy Number'
			, insured_name AS 'Name of Insured'
			, Product
	FROM [dbo].[qryAllPolicies]
	WHERE Branch = @BranchName	
		ORDER BY Product
END