
EXEC DDLDropProcedure spu_rptSSRSPremiumOverride
GO
CREATE PROCEDURE spu_rptSSRSPremiumOverride
(
	@dtStartDate				DATETIME
	,@dtEndDate					DATETIME
	,@bitShowPremiumOverride	BIT = 0
	,@bitShowCommissionOVeride	BIT = 0

)
AS
/*
	Created By		: George Harris
	Creation Date	: 29th October 2018
	Description		: Returns all overridden premiums and/or commission across all products within the date range provided

					  Used by SSRS Report

		EXEC spu_rptSSRSPremiumOverride '2018-01-01','2019-12-26',1,0
*/
BEGIN
  --DROP TABLE #tmpResults

  CREATE TABLE #tmpResults
  (
	iTablePolicy_Binder_id				INT
	,strInsurance_Ref					VARCHAR(500)
	,strPartyName						VARCHAR(1000)
	,strOverrideCode					VARCHAR(50)
	,strOverrideDescription				VARCHAR(250)
	,decTotalPremium					DECIMAL(15,2)
	,decOverridePremium					DECIMAL(15,2)
	,strUserName						VARCHAR(250)
	,bitIsPeriodLessThan12Months		BIT
	,bitIsPeriodGreaterThan12Months		BIT
	,bitIsMotorFleet					BIT
	,isFrontedPolicy					CHAR(1)
	,isDeclarationPolicy				CHAR(1)
	,MinimumPremiumCharged				CHAR(1)
  )

SET NOCOUNT ON

DECLARE @tableName VARCHAR(150)
		,@sSQL NVARCHAR(4000) = ''
		,@sColumnName VARCHAR(200) = ''


CREATE TABLE #Overrides
(
	strTableName VARCHAR(250)
)

IF(@bitShowPremiumOverride = 1)
BEGIN
	INSERT INTO #Overrides(strTableName)
	SELECT DISTINCT  LTRIM(RTRIM(t.name))
	FROM sys.columns c
    	JOIN sys.tables t ON c.object_id = t.object_id
	WHERE c.name LIKE '%PREMIUM_OVERRIDE%'
		AND	(
				t.name NOT LIKE '%Output%'
				OR (t.name NOT LIKE '%PremiumBreakdown%')
			)
		AND t.name <> 'ASSETS_END'
		AND t.name <> 'ASSETS_ACCI_DAMAGE'
		AND t.name <> 'DOMPROMOT_PREMSUMMARY'
END

DECLARE tCursor  CURSOR FAST_FORWARD FOR
SELECT * FROM #Overrides
OPEN tCursor
	FETCH NEXT FROM tCursor INTO @tableName
	WHILE @@Fetch_Status = 0
	BEGIN

		--SELECT @sSQL = 'DECLARE @sColumnName VARCHAR(200) ' 
		SELECT @sSQL = @sSQL + ' SELECT @sColumnName = c.name '
		SELECT @sSQL = @sSQL + ' FROM sys.columns c'
		SELECT @sSQL = @sSQL + ' JOIN sys.tables t ON c.object_id = t.object_id '
		SELECT @sSQL = @sSQL + ' WHERE t.name  = ''' +  @tableName + ''''
		SELECT @sSQL = @sSQL + ' AND (UPPER(c.name)= ''PREMIUM'') '

		SELECT @sSQL = @sSQL + ' IF ISNULL(@sColumnName,'''') <> '''' '
		SELECT @sSQL = @sSQL + 'BEGIN '
		SELECT @sSQL = @sSQL + ' SELECT @sColumnName = c.name '
		SELECT @sSQL = @sSQL + ' FROM sys.columns c'
		SELECT @sSQL = @sSQL + ' JOIN sys.tables t ON c.object_id = t.object_id '
		SELECT @sSQL = @sSQL +  ' WHERE t.name  = ''' +  @tableName + ''''
		SELECT @sSQL = @sSQL + ' AND (UPPER(c.name) = ''TOTALPREM'') '
		SELECT @sSQL = @sSQL + 'END'

		SELECT @sSQL = @sSQL +  ' IF ISNULL(@sColumnName,'''') <> '''' '
		SELECT @sSQL = @sSQL + 'BEGIN '
		SELECT @sSQL = @sSQL + ' SELECT @sColumnName = c.name '
		SELECT @sSQL = @sSQL + ' FROM sys.columns c'
		SELECT @sSQL = @sSQL + ' JOIN sys.tables t ON c.object_id = t.object_id '
		SELECT @sSQL = @sSQL +  ' WHERE t.name  = ''' +  @tableName + ''''
		SELECT @sSQL = @sSQL + ' AND (UPPER(c.name) LIKE ''PREMIUM%'') '
		SELECT @sSQL = @sSQL + ' AND c.name <> ''PREMIUM_OVERRIDE'' '
		SELECT @sSQL = @sSQL + 'END'

		SELECT @sSQL = @sSQL +  ' IF ISNULL(@sColumnName,'''') <> '''' '
		SELECT @sSQL = @sSQL + 'BEGIN '
		SELECT @sSQL = @sSQL + ' SELECT @sColumnName = c.name '
		SELECT @sSQL = @sSQL + ' FROM sys.columns c'
		SELECT @sSQL = @sSQL + ' JOIN sys.tables t ON c.object_id = t.object_id '
		SELECT @sSQL = @sSQL +  ' WHERE t.name  = ''' +  @tableName + ''''
		SELECT @sSQL = @sSQL + ' AND (UPPER(c.name) LIKE ''%PREMIUM'') '
		SELECT @sSQL = @sSQL + 'END '

				SELECT @sSQL = @sSQL +  ' IF ISNULL(@sColumnName,'''') <> '''' '
		SELECT @sSQL = @sSQL + 'BEGIN '
		SELECT @sSQL = @sSQL + ' SELECT @sColumnName = c.name '
		SELECT @sSQL = @sSQL + ' FROM sys.columns c'
		SELECT @sSQL = @sSQL + ' JOIN sys.tables t ON c.object_id = t.object_id '
		SELECT @sSQL = @sSQL +  ' WHERE t.name  = ''' +  @tableName + ''''
		SELECT @sSQL = @sSQL + ' AND (UPPER(c.name) LIKE ''%TOTAL_PREMIUM'') '
		SELECT @sSQL = @sSQL + 'END '

		--PRINT @sSQL
		
		EXECUTE sp_ExecuteSQL @sSQL,  N'@sColumnName VARCHAR(150) OUTPUT',@sColumnName = @sColumnName OUTPUT
		--select '@tableName = ' + @tableName + ' @sColumnName = ' + @sColumnName
		IF(@bitShowPremiumOverride = 1)
		BEGIN	 
			SELECT @sSQL =			'INSERT INTO #tmpResults '
			SELECT @sSQL = @sSQL + 'SELECT DISTINCT ' + LEFT(@tableName,CHARINDEX('_',@tableName)-1) + '_Policy_Binder_id'															
			SELECT @sSQL = @sSQL + ',INSF.Insurance_Ref ' 																							
			SELECT @sSQL = @sSQL + ',ShortName '																									
			SELECT @sSQL = @sSQL + ',O.Code '																										
			SELECT @sSQL = @sSQL + ',O.description '																								
			SELECT @sSQL = @sSQL + ',T.' + @sColumnName 																							
			SELECT @sSQL = @sSQL + ',T.PREMIUM_OVERRIDE '																							
			SELECT @sSQL = @sSQL + ',SF.created_by_username '																						
			SELECT @sSQL = @sSQL + ',CASE WHEN DATEDIFF(MONTH,insf.Cover_Start_Date,insf.Expiry_Date) <= 12 THEN 0 ELSE 1 END AS PeriodLessThan12Months '	
			SELECT @sSQL = @sSQL + ',CASE WHEN DATEDIFF(MONTH,insf.Cover_Start_Date,insf.Expiry_Date) > 12 THEN 0 ELSE 1 END AS PeriodGreaterThan12Months '	
			SELECT @sSQL = @sSQL + ',CASE WHEN GPL.gis_data_model_id = 1368 THEN 1 ELSE 0 END AS IsMotorFleet '	
			SELECT @sSQL = @sSQL + ',CASE WHEN (RIAL.type = ''F'' OR RIAL.type = ''FX'') AND premium_percent = 100 THEN ''Y'''
			SELECT @sSQL = @sSQL + 'ELSE ''N'' END'	
			SELECT @sSQL = @sSQL + ',CASE WHEN PER.class_of_business_id IN(11,5) THEN ''Y'' '
			SELECT @sSQL = @sSQL + 'WHEN R.risk_type_id IN (33,23) THEN ''Y'' '
			SELECT @sSQL = @sSQL + ' ELSE ''N'' END	'	
			SELECT @sSQL = @sSQL + ',CASE WHEN RS.this_premium <= ISNULL(MP.premium,0) THEN ''Y'' ELSE ''N'' END '
			SELECT @sSQL = @sSQL + 'FROM ' + @tableName + '  T '																					

			SELECT @sSQL = @sSQL + 'INNER JOIN GIS_POlicy_Link GPL ON T.' + LEFT(@tableName,CHARINDEX('_',@tableName)-1) + '_Policy_Binder_id = GPL.gis_policy_link_id '
			SELECT @sSQL = @sSQL + 'INNER JOIN [GIS_User_Def_Detail] O ON o.gis_user_def_detail_id = T.[OVERRIDE_REASON] '
			SELECT @sSQL = @sSQL + 'INNER JOIN Insurance_file insf on insf.insurance_file_cnt = GPL.insurance_file_cnt '
			SELECT @sSQL = @sSQL + 'INNER JOIN Party P on P.party_cnt = insf.insured_cnt '
			SELECT @sSQL = @sSQL + 'INNER JOIN Stats_Folder SF ON SF.insurance_file_cnt = INSF.insurance_file_cnt '
			SELECT @sSQL = @sSQL + 'INNER JOIN insurance_file_risk_link IFRL ON IFRL.insurance_file_cnt = INSF.insurance_file_cnt '
			SELECT @sSQL = @sSQL + 'INNER JOIN Peril PER ON PER.risk_cnt = IFRL.risk_cnt '
			SELECT @sSQL = @sSQL + 'INNER JOIN Risk R ON R.Risk_Cnt = IFRL.risk_cnt '
			SELECT @sSQL = @sSQL + 'INNER JOIN RI_Arrangement RIA on RIA.risk_cnt = R.risk_cnt '
			SELECT @sSQL = @sSQL + 'AND RIA.original_flag = 1 '
			SELECT @sSQL = @sSQL + 'INNER JOIN RI_Arrangement_Line RIAL ON RIA.ri_arrangement_id = RIAL.ri_arrangement_id '
			SELECT @sSQL = @sSQL + 'AND RIAL.ri_model_line_id IS NULL '
			SELECT @sSQL = @sSQL + 'INNER JOIN Rating_Section RS on RS.risk_cnt = R.risk_cnt '	
			SELECT @sSQL = @sSQL + 'INNER JOIN Rating_Section_Type RST on RST.Rating_Section_Type_ID = RS.Rating_Section_Type_ID '		
			SELECT @sSQL = @sSQL + 'LEFT JOIN UDL_MINIPREMS MP on RST.Code = MP.ratingcode '
			SELECT @sSQL = @sSQL + 'WHERE SF.transaction_date BETWEEN ''' + CONVERT(VARCHAR(11),@dtStartDate,113) + ''' AND ''' + CONVERT(VARCHAR(11),@dtEndDate,113) + ''''
			SELECT @sSQL = @sSQL + ' AND ISNULL(T.PREMIUM_OVERRIDE,0) <> 0 '
		END

		--PRINT @tableName
		--PRINT (@sSQL)
		EXEC(@sSQL)
		SET @sSQL = ''
		FETCH NEXT FROM tCursor INTO @tableName
	END
CLOSE tCursor
DEALLOCATE tCursor
 
 IF(@bitShowCommissionOVeride = 1)
	BEGIN
			INSERT INTO #tmpResults
			SELECT 0																														--iTablePolicy_Binder_id																															
					,INSF.Insurance_Ref																										--strInsurance_Ref				
					,ShortName																												--strPartyName					
					,''																														--strOverrideCode				
					,override_reason																										--strOverrideDescription			
					,0																														--decTotalPremium				
					,AC.commission_value																									--decOverridePremium				
					,SF.created_by_username 																								--strUserName					
					,CASE WHEN DATEDIFF(MONTH,insf.Cover_Start_Date,insf.Expiry_Date) <= 12 THEN 0 ELSE 1 END AS PeriodLessThan12Months		--bitIsPeriodLessThan12Months	
					,CASE WHEN DATEDIFF(MONTH,insf.Cover_Start_Date,insf.Expiry_Date) > 12 THEN 0 ELSE 1 END AS PeriodGreaterThan12Months 	--bitIsPeriodGreaterThan12Months	
					,0																														--bitIsMotorFleet	
					,CASE WHEN (RIAL.type = 'F' OR RIAL.type = 'FX') AND participation_percent = 100 THEN 'Y'
						ELSE 'N'
					 END																													--isFrontedPolicy
					,CASE WHEN PER.class_of_business_id IN(11,5) THEN 'Y'
							WHEN R.risk_type_id IN (33,23) THEN 'Y'
						ELSE 'N' 
					 END																													--isDeclarationPolicy
			FROM Agent_Commission AC
			INNER JOIN Insurance_File INSF ON INSF.insurance_file_cnt = AC.insurance_file_cnt
			INNER JOIN Party P on P.party_cnt = insf.insured_cnt 
			INNER JOIN Stats_Folder SF ON SF.insurance_file_cnt = INSF.insurance_file_cnt
			INNER JOIN insurance_file_risk_link IFRL ON IFRL.insurance_file_cnt = INSF.insurance_file_cnt
			INNER JOIN Peril PER ON PER.risk_cnt = IFRL.risk_cnt
			INNER JOIN Risk R ON R.Risk_Cnt = IFRL.risk_cnt
			INNER JOIN RI_Arrangement RIA on RIA.risk_cnt = R.risk_cnt
			INNER JOIN RI_Arrangement_Line RIAL ON RIA.ri_arrangement_id = RIAL.ri_arrangement_id
			WHERE is_amended = 1
		END

SELECT * FROM #tmpResults

END