.bodybg {
	background-color: #FFFFFF;
	height: 100%;
	margin: 0px 0px 0px 0px;
}
.bg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #717171;
	text-decoration: none;
	background-color: #FFFFFF;
	width: 651px;
	height: 100%;
}
.header {
	padding: 0px;
	height: 73px;
	width: 100%;
	margin: 0px;
	vertical-align: top;
}
.banner {
	height: 207px;
	width: 651px;
	margin: 0px;
	padding: 10px 0px 0px;
	vertical-align: top;

}
#content{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #717171;
	text-decoration: none;
	margin: 20px 0px 0px 5px;
}
#content .p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #717171;
	text-decoration: none; 	
}
#content .Head{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	color: #BB0D28;
	text-decoration: none;		
}
#content .ul{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #717171;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	
}
#content .ol{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #717171;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;		
}
#content .li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #717171;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;		
}
#loginbox {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 151px;
	width: 254px;
}
#loginbox .loginbg {
	background-color: #9A9A9A;
	background-image: url(../Images/loginbox_bg.gif);
	background-repeat: repeat-x;	
	height: 126px;
	width: 254px;
	background-position: top;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#loginbox .credential {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #BB0D28;
	text-decoration: none;
	width: 80%;	
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
}
#loginbox .textbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
#loginbox .signin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #BB0D28;
	text-decoration: none;
	text-align: left;
	border-bottom-width: 0.1pt;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFFFFF;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin: 0px 0px 0px 0px; 
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BA0C28;
	height: 21px;
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#box {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 197px;
	width: 330px;
}
#box .boxbg {
	background-color: #9A9A9A;
	background-image: url(../Images/box_bg.gif);
	background-repeat: repeat-x;	
	height: 157px;
	width: 286px;
	background-position: top;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#box .links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #BB0D28;
	text-decoration: none;
	width: 80%;	
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
}