<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="bExternalWorkItem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="bExternalWorkItem.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="siteCollectionId" value="96FDF07B-B772-4D15-92DA-EBCE8989EE3E"/>
  </appSettings>

  <unity>
    <containers>
      <container name="e5Container">
        <types>
          <type type="Dataract.FW.Interfaces.Services.IServiceAdapter, Dataract.FW.Interfaces.35, Version=3.0.0.0, Culture=neutral, PublicKeyToken=c5b8e58bd3516681" mapTo="Dataract.FW.Core.Adapters.BasicWcfServiceAdapter, Dataract.FW.Services.35, Version=3.0.0.0, Culture=neutral, PublicKeyToken=c5b8e58bd3516681" />
        </types>
      </container>
    </containers>
  </unity>

  <system.serviceModel>
    <client>
      <!-- e5 wcf service endpoints -->
      <endpoint name="IWorkService" address="http://localhost:85/e5.Services.Host/WorkService.svc" binding="basicHttpBinding" bindingConfiguration="BindingDefault" contract="Dataract.e5.Domain.Interfaces.IWorkService" />
      <endpoint name="IWorkPropertyService" address="http://localhost:85/e5.Services.Host/WorkPropertyService.svc" binding="basicHttpBinding" bindingConfiguration="BindingDefault" contract="Dataract.e5.Domain.Interfaces.IWorkPropertyService" />
      <endpoint name="IWorkResolvedPropertyService" address="http://localhost:85/e5.Services.Host/WorkResolvedPropertyService.svc" binding="basicHttpBinding" bindingConfiguration="BindingDefault" contract="Dataract.e5.Domain.Interfaces.IWorkResolvedPropertyService" />
    </client>
    <!--</system.serviceModel>
  <system.serviceModel>-->
    <bindings>
      <basicHttpBinding>
        <binding name="BindingDefault" closeTimeout="00:11:00" openTimeout="00:11:00" receiveTimeout="00:11:00" sendTimeout="00:11:00" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v3.5" sku=".NETFramework,Version=v3.5" />
    <supportedRuntime version="v2.0.50727" />-->
  </startup>
  <applicationSettings>
    <bExternalWorkItem.My.MySettings>
      <setting name="COM_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="COM_Level2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="COM_Level3" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CLB_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CLB_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CLB_Level3" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UNC_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UNC_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UNC_Level3" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CON_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CON_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CON_Level3" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="DEN_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DEN_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DEN_Level3" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MCLM_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MCLM_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MCLM_Level3" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="QCLM_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="QCLM_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="QCLM_Level3" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="SCON_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SCON_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SCON_Level3" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="UREFA_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UREFA_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UREFA_Level3" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="LL_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LL_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LL_Level3" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="NOT_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NOT_Level2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NOT_Level3" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="DRD_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DRD_Level2" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DRD_Level3" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="TP_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TP_Level2" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TP_Level3" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="W_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="W_Level2" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="W_Level3" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="EXCO_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EXCO_Level2" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="EXCO_Level3" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="OTREC_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OTREC_Level2" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="OTREC_Level3" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="SALV_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SALV_Level2" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SALV_Level3" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="ERECA_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ERECA_Level2" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ERECA_Level3" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ASR_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ASR_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ASR_Level3" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="DT_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DT_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DT_Level3" serializeAs="String">
        <value>19</value>
      </setting>
      <setting name="GS_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GS_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GS_Level3" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="HC_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HC_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="HC_Level3" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="MR_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MR_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MR_Level3" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="REC_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="REC_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="REC_Level3" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="REP_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="REP_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="REP_Level3" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="TLI_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TLI_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TLI_Level3" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="TLU_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TLU_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TLU_Level3" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="TOW_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TOW_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TOW_Level3" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="TPAC_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TPAC_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TPAC_Level3" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="TLTP_Level1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TLTP_Level2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TLTP_Level3" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="REF_Level1" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="REF_Level2" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="REF_Level3" serializeAs="String">
        <value>29</value>
      </setting>
      <setting name="SiteCollectionId" serializeAs="String">
        <value>C1DB3EB6-DAAB-4767-8197-0CE6FD42C21E</value>
      </setting>
    </bExternalWorkItem.My.MySettings>
  </applicationSettings>
</configuration>