<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!--<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="bSIRBatchRenewalController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="true" />
    </sectionGroup>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="Sirius">
    <sources>
      <add name="Sirius" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Sirius.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.diagnostics>
    <sources>
      <!--This section defines the logging configuration for My.Application.Log-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!--Uncomment the below section to write to the Application Event Log-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" initializeData="FileLogWriter" />
      <!--Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/>-->
    </sharedListeners>
  </system.diagnostics>

  <applicationSettings>
    <bSIRBatchRenewalController.My.MySettings>
      <setting name="SAMUserName" serializeAs="String">
        <value>sirius</value>
      </setting>
      <setting name="SAMPassword" serializeAs="String">
        <value>sirius</value>
      </setting>
      <setting name="SyncRenewals" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApiEndpoint" serializeAs="String">
        <value>https://localhost:7246/api</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TenantId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TokenUrl" serializeAs="String">
        <value></value>
      </setting>
    </bSIRBatchRenewalController.My.MySettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
   </startup>
</configuration>
