html {
}

body {
    /*background-image: url(../content/images/ando-login-bg.png);
        background-repeat: no-repeat;
        background-position: top 64px right 0px;
        background-size: 47%;*/
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #login-section {
        width:333px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #login-section {
        width:333px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #login-section {
        width:333px;
    }
}



/*#login-navbar {
    background-color: transparent!important;
    box-shadow: none;
}*/

    #login-navbar ul li a {
        /*color: #475069!important;*/
    }

        #login-navbar ul li a:hover {
            /*color: #000!important;*/
        }

#login-menu-icon
/*#brand-logo*/ {
    display: none!important;
}

#login-navbar
{
    height:64px;
}