@charset "utf-8";
/* CSS Document */

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form,	 legend, table, caption, tbody, tfoot, thead, tr, th, td {border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    font-weight:inherit;    font-style:inherit;    font-size:100%;    font-family:inherit;    					vertical-align:baseline;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
	font-family:Arial, Helvetica, sans-serif;
	color:#777;
}
body {line-height:1.5;  background:#f6f6f6;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
#STS-Wrapper { margin:auto; background:#f6f6f6; width:100%;} 
/*#STS-Wrapper .nexus-fluid-layout { margin:auto; } */
#STS-header { width:100%; background:url(images/header.png) repeat-x; height:45px; }
#STS-header ul { float:right; margin-right:20px; padding-top:13px;}
#STS-header ul li { list-style-type:none; float:left; margin-right:15px; color:#eeeeee; text-decoration:none; font-size:12px;}
#STS-header ul li a{ color:#eeeeee; text-decoration:none; font-size:12px;}
#STS-header ul li a:hover{ color:#000; text-decoration:none;}
#STS-header ul li span { background:url(images/header-seprator.png) no-repeat; width:1px; height:9px; margin-left:15px; display:inline-block; }



#STS-Wrapper .logo-container{ width:607px; margin:60px auto 0; background:url("images/login-bg.png") no-repeat; height:76px;  }
.logo {
    background: url("images/logo-ssp.png") no-repeat scroll 24px 12px;
    height: 70px;
    width: 150px;
}
.fieldset-wrapper { background:#fff; width:605px; padding:20px 0;
	border:1px solid #dddddd;
	border-top:0px solid #dddddd;
	margin:0 auto 60px; }

.clear { clear:both; }
#STS-Wrapper .fieldset-wrapper .wrapper {
	width:480px; margin:auto;
}
#STS-Wrapper .fieldset-wrapper .wrapper h1 {
    border-bottom: 1px solid #CCCCCC;
    color: #777777;
    font-size: 26px;
    margin-bottom: 18px;
    margin-top: 20px;
    padding-bottom: 5px;
    width: 480px;
}
#STS-Wrapper .fieldset-wrapper .wrapper .info {
    background: url("images/icon-info.png") no-repeat scroll 15px 11px #FCF8E3;
    border: 1px solid #EAC36C;
    border-radius: 5px;
    color: #777777;
    font-size: 12px;
    padding: 4px 4px 4px 50px;   
    width: 426px;
}
#STS-Wrapper .fieldset-wrapper .wrapper .info span { font-weight:bold; color:#000; }

#STS-Wrapper .fieldset-wrapper .wrapper .validation {
    background: url("images/icon-warning.png") no-repeat scroll 15px 7px #f2dede;
    border: 1px solid #b94a48;
    border-radius: 5px;
    color: #b94a48;
    font-size: 12px;
    padding: 4px 4px 4px 50px;
    margin-top: 20px;
    width: 426px;
}
#STS-Wrapper .fieldset-wrapper .wrapper .validation span { font-weight:bold; display:block; color:#b94a48; }

.validation-summary-errors
{
    background: url("images/icon-warning.png") no-repeat scroll 15px 7px #f2dede;
    border: 1px solid #b94a48;
    border-radius: 5px;
    color: #b94a48;
    font-size: 12px;
    padding: 4px 4px 4px 50px;
    margin-top: 20px;
    width: 426px;
}

.validation-summary-errors span
{
    font-weight:bold; display:block; color:#b94a48;
}

.validation-summary-errors ul li
{
    color: #b94a48;
    font-size: 12px;
    list-style-type: none;
}

.field-validation-error
{
    color: #b94a48;
    font-size: 12px;
}

.validation-summary-valid
{
    display:none;
}


#STS-Wrapper .username, #STS-Wrapper .pwd {
    background: url("images/icon-user.png") no-repeat scroll 16px 12px #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 35px;
    width: 284px;
}

#STS-Wrapper .pwd {
	background:#f8f8f8 url(images/icon-pwd.png) no-repeat 16px 12px;
	
}


#STS-Wrapper ol {
	list-style-type:none;
	}
#STS-Wrapper ol li {
	/*float:left;*/
	margin:0 0 1.2em 0;
}
#STS-Wrapper ol li label {
   
    display: inline-block;
    font-size: 16px;   
    width: 150px;
}
#STS-Wrapper .submit, #STS-Wrapper .cancel {
    background: url("images/submit-bg.png") repeat;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    color: #777777;
    font-size: 16px;
    height: 40px;
    margin-left: 154px;
    width: 120px;
}
#STS-Wrapper .cancel {
	margin-left:10px;
}

.reviewtxt {
    font-size: 13px;
    margin-left: 154px;
    margin-top: 1.2em;
}
#STS-footer { width:100%; background:url(images/footer-bg.png) repeat-x; height:44px; position:fixed; bottom:0; }
#STS-footer ul { margin-left:32%; padding-top:7px;}
#STS-footer ul li { list-style-type:none; float:left; margin-right:15px;}
#STS-footer ul li a{ color:#eeeeee; text-decoration:none; font-size:12px;}
#STS-footer ul li a:hover{ color:#ec2227; text-decoration:none;}
#STS-footer ul li span { background:url(images/footer-aero.png) no-repeat; width:7px; height:9px; margin-left:15px; display:inline-block; }