.config-menu
{
    margin: auto;
    width: 94%;
}

.config-menu ol li
{
    margin-bottom: 10px !important;
}
.wrapper-left
{
    width: 35%;
    float: left;
    font-size: 12px;
}

.wrapper-right
{
    width: 65%;
    float: left;
}

.wrapper-right label
{
    font-size: 12px !important;
}

#STS-Wrapper ol li label {
   
    display: inline-block;
    font-size: 12px;   
    width: 150px;
}

#STS-Wrapper .fieldset-wrapper .wrapper h1 {
    border-bottom: 1px solid #CCCCCC;
    color: #777777;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 0px;
    width: 70%;
    padding-bottom: 5px;
}

#STS-Wrapper .submit {
    font-size: 16px;
    margin-left: 0px;
    width: auto;
}