@model ProtocolViewModel

@{
    ViewBag.Title = "Protocol Configuration : " + Model.DisplayName;
}

@using (Html.BeginForm("UpdateADFSIntegration", "Protocol", new { id = Model.ID },
        FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-heading">
            <h1>@ViewBag.Title</h1>
        </div>
           <div class="card-body clearfix">
               <div class="form-horizontal">
                    @Html.EditorFor(x => x.Protocol)
               </div>
           </div>
        <div class="card-footer">
             <button type="reset" class="btn btn-sm btn-dark">Cancel</button>
             <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
        </div>
    </div>
    @Html.ValidationSummary("Error updating protocol")
}