<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="CCMContractTypeName" value="PureContract"/>
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"></defaultProxy>
  </system.net>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="ITPInTheCloud1" />
          <binding name="ITPInTheCloud" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ITPInTheCloud1"
          contract="CCM_Azure.ITPInTheCloud" name="ITPInTheCloud1" />
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="ITPInTheCloud"
          contract="CCM_AzureForPDF.ITPInTheCloud" name="ITPInTheCloud" />
      </client>
    </system.serviceModel>
<startup>
<supportedRuntime version="v4.8"/>
</startup></configuration>
