body
{	
    font-family: 	Verdana, Arial, Helvetica, sans-serif;
    font-size:      70%;
}

body *
{    
    font-size:      100%;
}

h1
{
    font-size:  286%;
    padding:    20px;
}

h2
{
    margin:     0;
    padding:    .4em;
}

.loginBox
{
    background-color:   #F7F6F3; 
    background-color:   #E6E2D8; 
    padding:            0.4em; 
    border-style:       Solid;
    border-width:       1px;    
}

.loginBox input[type=text],
.loginBox input[type=password]
{
    font-size:          smaller;
    width:              120px;    
}

.loginBox input[type=submit]
{
    background-color:   #FFFBFF;
    border:             1px solid #CCCCCC;
    font-size:          smaller;
    color:              #284775;
}

.loginBox .loginDetailsHeader
{
    background-color:   #5D7B9D;
    font-weight:        bold;
    font-size:          smaller;
    color:              White;
}

table.loginBox td
{
    padding:            2px;
}
    
.loginDetails
{
	padding-top:		1em;  
	margin-left:        auto;
    margin-right:       auto;
    width:              22%;
    min-width:          120px;
}

.forgotpassword
{
	text-align:			center;
	margin-top:			2em;
}

.forgotpassword .forgotpasswordcontents
{
	width:				60%;
}

.forgotpassword .forgotpasswordcontents label
{
	width:				100%;
	text-align:			center;
	font-weight:		bold;
	margin-bottom:		0.5em;
}

.forgotpassword .forgotpasswordcontents label.error
{
	color:				Red;
	width:				99%;
	display:			block;
}

.forgotpassword .forgotpasswordcontents .buttons
{
	clear:				both;
	text-align:			center;	
}

.MasterBodyStyle
{
	background-color:   #F7F6F3; 
	margin-top:         0px; 
	margin-left:        2px; 
	margin-right:       0px;	
}

.header .brandLogo img
{
	height:                 49px; /* Height (in pixels) of the logo image */	
	width:                  88px;	
}
.header .brandLogo
{
	height:                 50px; /* Height (in pixels) of the logo image */	
	width:                  100px;
	float:                  right;
	padding-left:			5px;	
}
.header .version
{
	float:                  right;
	font-weight:			bold;
	height:					50px;
	vertical-align:			bottom;
	padding-top:				35px;
	padding-top:				35px;
}
.PopupMenuStyle
{
	border:             1px outset #FFB680; 
	background-color:   #EBEBF5;
	border:             Solid 1px Black;
	text-align:			center;
	width:				68px;	
}

.PopupMenuStyle a, .PopupMenuStyle a:hover
{
    display:		block;
    text-decoration: none;
    font-weight:	bold;
    height:			20px;
    margin:         2px;
    vertical-align: middle;        
}

.PopupMenuStyle a
{
    color:          White;
    background:     url(../Images/bkg-nosel.gif) repeat-x;
}

.PopupMenuStyle a:hover
{
    color: Navy;
    background:     url(../Images/bkg-hover-menu.gif) repeat-x;
}

/* Menu Styles */
.dremainmenu
{
    width:          auto;
    list-style-type:none;
    padding:        0 1px 0 0;
    margin:         0; 
}

.dremainmenu li
{
    width:          95%;
    padding:        0;
    margin:         2%;
}

.dremainmenu li a
{
    display:        block;
    width:          93%;
    border:         1px solid black;
    padding:        4px 4%;
	color:			White;
	height:         16px;
    background:     url(../Images/bkg-nosel.gif) repeat-x; 
    font-weight:    bold;
    text-decoration:none;   
}

.dremainmenu li a.selected
{
    background:     url(../Images/bkg-sel.gif) repeat-x; 
}

.dremainmenu li a:hover
{
	color:			Navy;
    background:     url(../Images/bkg-hover-menu.gif) repeat-x;		
}
/* End of Menu Styles */

/* GridView Styles */
.BorderTableStyle
{
	border:solid 1px #CDCDCD;
}

.DataInputTableColumn
{
	text-align:     right;
	font-weight:    bold;
}

.tableStyle
{
	border-color:   black;
	color:          #3D3D3D;
	width:          95%;
}

.hoverrowstyle, 
.ruleSetKeysList .selected
{
    color:          Navy;
    background:     url(../Images/bkg-hover-menu.gif) repeat-x;
}

tr.headerstyle th
{
    border:         1px solid black;
    padding:        4px;
    background:     #AB130E url(../Images/bkg-sel.gif) repeat-x bottom;
    min-height:     16px;  
    color:			Black;
    font-weight:    bold;
}  

.headerstyle a
{
	text-decoration:    none;
    color:              Black;
    background-color:   Transparent;
	display:            block;
}   
 
.headerlinkstyle
{
    background-color:   Black;
    color:              White;
    padding-top:        2px;
    padding-bottom:     2px;
}

.headerlinkstyle A
{
    color:              #336699;
    text-decoration:    underline;
}

.headerlinkstyle A:hover
{
    color:              #003399;
    text-decoration:    underline;
}

.rowstyle
{
	background-color:   #FFF;
}

.alternatingrowstyle
{
    background-color:  #EBEBF5;	
}

.rowstyle td, .alternatingrowstyle td 
{
	padding:        4px;
	border:         0px solid white;
}

.sortascheaderstyle
{
    background-color:       #8dbdd8; 	
    background-repeat:      no-repeat;
    background-position:    center left;       
}

.sortdescheaderstyle
{
    background-color:       #8dbdd8; 	
    background-repeat:      no-repeat;
    background-position:    center left;       
}   

/* End of GridView Styles */

.watermark
{
	color:          Gray;
	font-style:     italic; 
}

.hiddenTextBox
{
	display:        none;	
}

.ruleset
{
    margin:         1em 1em 1em 0
}

.rulesetkeys
{
	padding:        0.6em 0.4em 0.4em 1em;	
}

.ruleset .accordionHeader
{
    border:         1px solid black;
    margin:         1px 0px 0px 0px;
    padding:        4px;
    font-weight:    normal;
    background:     url(../Images/bkg-nosel.gif) repeat-x;
    height:         16px;
}

.ruleset .accordionHeaderSelected
{
    font-weight:    bold;
    background:     url(../Images/bkg-sel.gif) repeat-x;
}

.ruleset .accordionContent
{
    border-width:   0px 1px 1px 1px;
    border-style:   solid;
    border-color:   black;
    padding:        0.4em;
    margin-bottom:  2px;/* can't use em - AJAX toolkit code won't parse it */
}

.ruleset .dataentrylabel
{
    border:         1px solid black;
    padding:        0.2em 0 0.2em 0;
    background:     url(../Images/bkg-sel.gif) repeat-x;
    height:         16px;
    display:        block;
    margin:         0px;
    padding:        4px;
    font-weight:    bold;
}

.ruleset .dataentry
{
    border-width:   0px 1px 1px 1px;
    border-style:   solid;
    border-color:   black;
    padding:        0.6em 0.4em 0.4em 1em
}
.rulesetkeys .dataentry
{
	float:			left;
	width:			50%;
}

.ruleset .dataentry .question,
.rulesetkeys .dataentry .question
{
    clear:      both;
    padding:    0.2em 0 0.2em 0;
}
.ruleset .dataentry .question span
{
	/*color: Red;*/
	display:block;
	/*height: 120px;*/
	vertical-align: middle;
}
.ruleset .dataentry .question label,
.rulesetkeys .dataentry .question label
{
    float:          left;
    width:          26em;
    padding-top:    2px;
}

.questionr 
{
    float: right;
}

.ruleset .dataentry .question input,
.ruleset .dataentry .question select,
.rulesetkeys .dataentry .question input,
.rulesetkeys .dataentry .question select

{
    float:      left;
    font-size:  100%
}

.ruleset .dataentry .question input,
.rulesetkeys .dataentry .question input
{
    float:      left;
    font-size:  100%;
    width:      80%;
}

.ruleset .dataentry .question input[type="button"]
{
	    width:      30%;
}

.ruleset .dataentry .question table
{
	width: 100%;
}

.ruleset .dataentry .question table tr td
{
	text-align: center;
	vertical-align: middle;
}

.ruleset .dataentry .question table tr th
{
	background: url("../Images/bkg-sel.gif") repeat-x scroll 0 0 transparent;
	border: 1px solid black;
	font-weight: bold;
	height: 16px;
	margin: 0;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
}

.ruleset .dataentry .question table tr th:first-child
{
	width: 40px;
}

.ruleset .dataentry .question table tr th:first-child + th + th + th,
.ruleset .dataentry .question table tr th:first-child + th + th + th + th
{
	width: 60px;
}

.ruleset .dataentry .question input.expanded,
.rulesetkeys .dataentry .question input.expanded
{
    width:              75%;
}

.ruleset .dataentry .question input.contracted,
.rulesetkeys .dataentry .question input.contracted
{
    width:              75%;
}

.dataentry .question input[type=button].expandedtoggle
{
    width:          1.8em;
    height:         1.8em;
    padding:        0;
}

.ruleset .dataentry .questioncol1
{
    width:          40%;
    float:          left;
    clear:          none;
    padding-right:  2em;
}

.ruleset .dataentry .questioncol2
{
    width:      40%;
    float:      left;
    clear:      none;
}

.ruleset .dataentry .questioncol2 input
{
    width:      4em;
}

.ruleset .dataentry .questioncol2 label
{
    width:      4em;
}

.ruleset tr.selected td
{
    background-color:   Gray;
}

.ruleset select.selected 
{
    background-color: #DDDDDD;
}

.ruleset input.selected,
.rulesetkeys input.selected
{
    background-color: #DDDDDD;
}

.ruleset .propertytreetabcontainer,
.rulesetkeys .propertytreetabcontainer
{  
    width:              45%;
    float:              left;
    margin-right:       2em;
}

.ruleset .propertytreeview,
.rulesetkeys .propertytreeview
{  
    background-color:   White;
    border:             1px solid black;
    overflow:           scroll;
    font-size:          70%;
}



.ruleset .dataentryfields
{  
    width:          50%;
    float:          left;
}

.ruleset .dataentryfields .buttons
{  
    clear:          both;
    padding-top:    0.6em;
}

.rulesetkeys .dataentry .buttons
{  
    clear:          both;
    padding-top:    0.6em;
    text-align: left;
}

.GridTableStyle
{
	margin:	        1em 0 0 0;
	width:          98%;
}

.TextColumn, .DateColumn
{
	text-align:     left;	
}

.NumericColumn, .BooleanColumn, .EnumeratedColumn
{
	text-align:     center;	
}

table.rulelinesgrid
{
    width:          98%
}

.EmailAddressesHeaderStyle, 
.RuleSetKeysControlHeaderStyle,
.accessDeniedHeaderStyle 
{
    color:			Black;
    font-weight:    bold;
    background:     url(../Images/bkg-grid-header.gif) repeat-x;
    height:			20px;
}  

.RuleSetKeysDataEntryHeaderStyle
{
    color:			Black;
    font-weight:    bold;
    background:     url(../Images/bkg-nosel.gif) repeat-x;
    height:			20px;
}  

.RuleSetKeysControlHeaderStyle label.title,
.RuleSetKeysDataEntryHeaderStyle label.title
{
	float:			left;
	width:			70%;
}

.RuleSetKeysControlHeaderStyle label.showhide,
.RuleSetKeysDataEntryHeaderStyle label.showhide
{
	float:			right;
}

.EmailAddressDataEntry
{
	padding-top:	5px;	
}

.ruleSetPublishBox
{
    border:     1px solid black;
    margin:     1.5em 0.4em 0.4em 0.4em;
    padding:    0;
}

.ruleSetPublishBox div.head
{
    border-style:   solid;
    border-color:   Black;
    border-width:   0 0 1px 0;
    padding:        4px;
    font-weight:    bold;
    background:     url(../Images/bkg-sel.gif) repeat-x;
    height:         16px;
    text-align:     center;
}

.ruleSetPublishBox div.detail
{   
    padding:        0.4em 0.4em 0.4em 0.4em;
    line-height:    2em;
}

.copyRuleSetPopup div.buttons,
.lockedInformation div.buttons,
.ruleSetInfo div.buttons,
.testPublishPopup div.buttons,
.yesNoDialog div.buttons,
.exportImportRuleSetPopup div.buttons,
.ruleSetPublishBox div.buttons,
.copyRulesPopup div.buttons,
.copyProfilesPopup div.buttons,
.corruptedProfilePopup div.buttons
{
    padding-top:    0.8em;
    clear:          both;
}

.ruleSetPublishBox div.buttons input
{ 
    display:        block;
    width:          7em;
    margin:         0 auto;
}

.hidden
{
    display:    none;    
}



.washOut
{
    position:           fixed;
    height:             100%;
    width:              100%;
    opacity:            0.4;
    -ms-filter:         "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter:             alpha(opacity=40);
    background-color:   Black;
    top:                0;
    left:               0; 
    z-index:            10;
}

div.question label
{
	font-weight: bold;
}

div.popup
{
    position:           fixed;
    padding:            1em;
    border:             1px solid black;
    color:              Black;
    z-index:            15;
    background:         White url(../Images/grey-lines.gif) no-repeat bottom right;
}

div.lockedInformation
{
	min-width:          30em;
    width:              20%;
    height:             18em;
    max-height:         40%;
    top:                30%;
    left:               40%;
}

div.lockedInformation .question label
{
    float:  left;
    width:  35%;
}

div.ruleSetInfo
{
	min-width:          30em;
    width:              20%;
    height:             22em;
    max-height:         40%;
    top:                30%;
    left:               40%;
}

div.ruleSetInfo .question label
{
    float:  left;
    width:  35%;
}

div.testPublishPopup
{
    min-width:          40em;
    width:              30%;
    height:             30em;
    max-height:         30%;
    top:                30%;
    left:               40%;
}

div.yesNoDialog
{
	min-width:          30em;
    width:				15%;
    height:             30em;
    max-height:         20%;
    top:                30%;
    left:               40%;
}

div.corruptedProfilePopup
{
    min-width:          20em;
    width:              20%;
    height:             18em;
    max-height:         22%;
    top:                30%;
    left:               40%;
}

div.exportImportRuleSetPopup,
div.copyRulesPopup,
div.copyProfilesPopup
{
    min-width:          40em;
    width:              40%;
    top:                28%;
    left:               25%;
}

div.copyRuleSetPopup 
{
	min-width:          40em;
    width:              60%;
    top:                28%;
    left:               25%;
}

div.asyncServerCallPopup
{
    min-width:          20em;
    width:              20%;
    height:             18em;
    max-height:         22%;
    top:                30%;
    left:               40%;    
}

div.popup h2,
.popupTitle
{
    padding:    0.4em;
    border:     1px solid black;
    margin:     0 0 1em 0;
    background: url(../Images/bkg-sel.gif) repeat-x;
    color:      White;
}

div.exportImportRuleSetPopup .question,
div.copyRulesPopup .question,
div.copyProfilesPopup .question,
div.copyRuleSetPopup .question
{
    clear:      both;
    margin:     .4em;
    padding:    0;
}

div.exportImportRuleSetPopup .question label,
div.exportImportRuleSetPopup .question select,
div.exportImportRuleSetPopup .question input
{
    float:  left;
    width:  40%;
}

div.copyRulesPopup .question label,
div.copyProfilesPopup .question label
{
    float:  left;
    width:  40%;
}

div.copyRuleSetPopup .question label
{
    float:  left;
    width:  165px;
}

div.copyRuleSetPopup .question input,
div.copyRulesPopup .question input,
div.copyProfilesPopup .question input
{
	float: left;
	width: 15%;
}

div.copyRuleSetPopup .question select,
div.copyRulesPopup .question select,
div.copyProfilesPopup .question select
{
	float: left;
	width: 25%;
}	
div.copyRuleSetPopup .question input,
div.copyRulesPopup .question input,
div.copyProfilesPopup .question input
{
	text-align: right;	
}
dib.copyRuleSetPopup .question span,
div.copyRulesPopup .question span,
div.copyProfilesPopup .question span
{
	float: left;
	padding: 0 1em 0 1em;
}

div.exportImportRuleSetPopup .question label
{
    padding-top: 0.4em;
}

div.exportImportRuleSetPopup .question input[type=checkbox]
{
    width:  auto;
}

.pnlEnterNewGroup
{    
    max-width:  30em;
    border:     1px solid black;
    padding:    0.6em;
}

.ruleset .dataentry .pnlEnterNewGroup .question input 
{  
    width:  65%;
}

.ruleset .dataentry .pnlEnterNewGroup .question label 
{  
    width:  30%;
}

.ruleset .dataentry .pnlEnterNewGroup .buttons
{ 
    clear:      both;
    text-align: center;
}
    
.ruleset .dataentry .pnlEnterNewGroup .buttons input 
{  
    width:  auto;
}

.RuleSetKeysDataEntry
{
	border:		solid 1px Black;
}

.RuleSetKeysPropertyTree
{
	height:		160px; 
	border:		solid 1px Black;
	overflow:	scroll;
}

.ChangePasswordDialog, .ResetPasswordDialog
{
	width:				400px;  
	height:				175px; 
	background-color:	White; 
	border-width:		2px; 
    border-color:		Black; 
    border-style:		solid; 
    padding:			0px; 
}

.messagebox
{
	width:				400px; 
	background-color:	White;
	border-width:		2px;
    border-color:		Black; 
    border-style:		solid; 
    padding:			20px;
    text-align:			center;
}

.confirmmessagebox
{
	width:				400px; 
	background-color:	White;
	border-width:		2px;
    border-color:		Black; 
    border-style:		solid; 
    text-align:			center;
    padding-bottom:		10px;
}

.confirmmessage
{
	margin:				5px 0 5px 0;
}


.header
{
	background-image:       url('../Images/ssp_header.gif');
	background-repeat:      repeat;
	height:                 50px; /* Height (in pixels) of the logo image */
} 

.sidebar
{
    padding:    0;
    margin:     0;
    width:      140px;
    position:   fixed;
    left:       0;
    top:        50px; 
    z-index:    5;
}

.maincontent
{
    padding:   0;
    margin:    0 0 0 138px 
}

.sectionheader
{
	background-color:   Black;
	color:              White;
	font-weight:        bold;
	margin:             0; 
	padding:            0; 
}

.datamaintenance
{
    border: 1px solid #DDDDDD;
}

.datamaintenance .question
{
    clear:          both;
    margin:         .6em 0;
}

.datamaintenance .question label
{
    float:          left;
    width:          35%;
    display:        block;
    padding:        0.3em 0.4em 0 0;
    text-align:     right;
    font-weight:    bold;
}

.datamaintenance .question input,
.datamaintenance .question select,
.datamaintenance .question .complexentryfield
{
    float:          left;
    max-width:      55%;
    text-align:     left;
    margin-right:   0.6em;
}

.datamaintenance .question input
{
    width:          45%;
}

.datamaintenance .question input[type=checkbox],
.datamaintenance .question .complexentryfield input
{
    width:          auto;
    max-width:      100%;
}

.datamaintenance .buttons,
.datamaintenance .question input[type=submit]
{
    text-align:     center;
}

.PasswordChangeButtons
{
	padding-top:	10px;	
}

.nolabelinput
{			
	margin-left:	35%;	
}

.nolabelinput input[type=submit]
{		
	clear:			both;
	float:			left;
	margin-left:	0.4em;
	width:			auto;
}

.ruleSetKeysControlStyle
{
	clear:			both;
	text-align:		center;
	margin-top:		0.5em;
	margin-bottom:	0.5em;
}

.ruleSetKeysControlKeys
{
	margin-left:	auto;
	margin-right:	auto;
}


/*Reorder List*/

.ruleSetKeys
{
	border:			solid 1px Black;
}

.ruleSetKeysHeader
{
    width:			100%;
    color:			White;
    font-weight:    bold;
    background:     url(../Images/bkg-nosel.gif) repeat-x;
    height:			20px;
}

.ruleSetKeysList
{
	width:			100%;
}

.ruleSetKeysList ul
{
	list-style-type:	none;
	margin-left:		0px;
}

.ruleSetKeysList .dragHandle
{
    cursor:			move;
}

.ruleSetKeysHeader .dragHeader label.drag,
.ruleSetKeysList .dragHandle img
{
	width:			18px;
	height:			18px;	
}
.ruleSetKeysHeader .dragHeader label.drag
{
	display:		block;
}

.ruleSetKeysHeader .headerArea, 
.ruleSetKeysList .itemArea 
{
	text-align:		left;
	width:			99%;
	float:			left;
	display:		block;
}

.ruleSetKeysHeader .headerArea label.select,
.ruleSetKeysList .itemArea a
{
	display:		block;
	float:			left;
	width:			10%;
	text-align:		center;
}
.ruleSetKeysHeader .headerArea label,
.ruleSetKeysList .itemArea label
{
	display:		block;
	float:			left;
	border-left:	solid 1px White;
	padding-left:	0.2em;
}
.ruleSetKeysHeader .headerArea label.property,
.ruleSetKeysList .itemArea label.property
{
	width:			35%;	
}
.ruleSetKeysHeader .headerArea label.function,
.ruleSetKeysList .itemArea label.function
{
	width:			15%;
}
.ruleSetKeysHeader .headerArea label.value,
.ruleSetKeysList .itemArea label.value
{
	width:			35%;
}

.reorderCue 
{
	border:			dashed thin black;
	width:			100%;
	height:			20px;
}

a.editlink
{
    background-image:   url(../Images/editA24.png);
    height:             24px;
    width:              24px;
    display:            block;
    float:              left;
    text-indent:        -9999px;
}

a[disabled].editlink
{
    background-image:   url(../Images/editA24disabled.png);
}

a.viewlink
{
    background-image:   url(../Images/viewA24.png);
    height:             24px;
    width:              24px;
    display:            block;
    float:              left;
    text-indent:        -9999px;
}

a[disabled].viewlink
{
    background-image:   url(../Images/viewA24disabled.png);
}

a.gridslink
{
    background-image:   url(../Images/gridsA24.png);
    height:             24px;
    width:              24px;
    display:            block;
    float:              left;
    text-indent:        -9999px;
}

a[disabled].gridslink
{
    background-image:   url(../Images/gridsA24disabled.png);
}

a.ruleslink
{
    background-image:   url(../Images/rulesA24.png);
    height:             24px;
    width:              24px;
    display:            block;
    float:              left;
    text-indent:        -9999px;
}

a[disabled].ruleslink
{
    background-image:   url(../Images/rulesA24disabled.png);
}

a.environlink
{
    background-image:   url(../Images/environmentA24.png);
    height:             24px;
    width:              24px;
    display:            block;
    float:              left;
    text-indent:        -9999px;
}

a[disabled].environlink
{
    background-image:   url(../Images/rulesA24disabled.png);
}

.ruleLineTreeControl
{
	width: 98%;
}

.ruleLinesTree
{
	width: 99%;
	overflow:auto;
	height: 450px;
	border: solid 1px Black;		
}


.ruleLinesTree .groupNode span
{
	color: Black;	
}

.ruleLinesTree .leafNode a
{
	width:	4%;	
	display: block;
	float: left;
}

.ruleLinesTree .leafNode 
{	
	display: block;
	width: 1650px;
	text-align: left;
}

.selected
{	
	background-color: Gray;
}

.ruleLinesTree .leafNode *
{
    background-color: #F7F6F3; /* Stops text from one element appearing behind another */
}

.ruleLinesTree .leafNode .alternateRow *
{
    background-color: white;
}

.ruleLinesTree .leafNode .Task
{
 	width: 5%;
	display: block;
	float: left;
}

.ruleLinesTree .leafNode .Var1
{
 	width: 15%;
	display: block;
	float: left;
	white-space: normal;
}

.ruleLinesTree .leafNode .VarFunction
{
 	width:      5%;
	display:    block;
	float:      left;
	overflow:   hidden;
}

.ruleLinesTree .leafNode .Var2
{
 	width: 15%;
	display: block;
	float: left;
}

.ruleLinesTree .leafNode .MathOperator
{
 	width: 3%;
	display: block;
	float: left;

}

.ruleLinesTree .leafNode .Var3
{
 	width: 15%;
	display: block;
	float: left;
}

.ruleLinesTree .leafNode .Function
{
 	width: 10%;
	display: block;
	float: left;
}

.noRuleLines
{
	color: Black;
}


div.copyButtonLastUpdatedTextHolder input
{
	float:left;
}

div.copyButtonLastUpdatedTextHolder div
{
	float:right; 
	padding-right:9px;
}

.accessDenied
{
	text-align: center;
}
.accessDenied .accessDeniedHeaderStyle
{
	text-align: left;
	vertical-align: middle;
	width: 50%;
	margin: 20px 0 10px 0;
}
.accessDenied .accessDeniedMessage
{
	text-align: center;
	width: 50%;
	margin: 0 0 20px 0;
}

.container 
{
	padding-left: 0px;
	padding-right: 25px;
}

.container .centrecolumn
{
	position: relative;
	float: left;
	width: 100%;
}

.container .rightcolumn
{
	position: relative;
	float: left;
	width: 25;
	margin-right: -25px;
}