body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
}

p {
    margin-top: 12pt;
    margin-bottom: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Times New Roman, Times, Roman, serif;
    font-weight: bold;
    margin-top: 12pt;
    margin-bottom: 12pt;
}
h1 {font-size: 18pt; background-color: skyblue;}
h2 {font-size: 14pt;}
h3 {font-size: 12pt;}
h4 {font-size: 10pt;}
h5 {font-size: 10pt;}
h6 {font-size: 10pt;}

table {
    font-size: 10pt;
}

thead {
    font-weight: bold;
    vertical-align: top;
}

tbody {
    vertical-align: top;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a.name {
    font-weight: normal;
    text-decoration: none;
}

.autodesc {
    color: gray;
}

.nullvalue {
    color: gray;
}

.arrow {
    font-family: Wingdings;
}

.enumname {
    font-weight: bold;
}
