<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SiriusFS.SAM.Client.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="SFS.SiriusTransactionService.Client.STSPartiesAndPolicies.PartiesAndPolicies" value="http://localhost:11109/siriusfs.sts.serviceagent/partiesandpolicies.asmx"/>
		<add key="SFS.SiriusTransactionService.Client.STSListManagement.ListManagement" value="http://localhost:11109/siriusfs.sts.ServiceAgent/ListManagement.asmx"/>
		<add key="SourceLocation" value="C:\Inetpub\wwwroot\SiriusOnline\"/>
	</appSettings>
 <exceptionManagement>
		<publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.DefaultPublisher" logName="MyApp Exception Log" applicationName="My Application"/>
		<publisher assembly="MyApp" type="MyApp.CustomPublisher" fileName="c:\errors.log"/>
		<publisher assembly="MyApp" type="MyApp.CustomPublisher" exceptionFormat="xml"/>
	</exceptionManagement>
 <applicationSettings>
  <SiriusFS.SAM.Client.My.MySettings>
   <setting name="SiriusFS_SAM_Client_STSListManagement_ListManagement"
    serializeAs="String">
    <value>http://vm-sam-sfi1810/SIRIUSFS.SAM.SERVICEAGENT/ListManagement.asmx</value>
   </setting>
  </SiriusFS.SAM.Client.My.MySettings>
 </applicationSettings>
</configuration>
