<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RuleEngineManagerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ruleLineHandler" type="RulesEngine.RuleLineHandlers.HandlerConfiguration, RulesEngine.RuleLineHandlers" />
        </sectionGroup>
	<section name="executorAudit" type="RulesEngine.Executor.Audit.ExecutorAuditConfiguration, RulesEngine.Executor" />
    </configSections>
    <appSettings>
    <add key="SoapLogToFS" value="N" />
	<add key="VERSION" value="1.2.0" />	
    <add key="FSRoot" value="##SOAPLOGDIR##" />
    </appSettings>	
	<connectionStrings>
		<remove name="database" />
		<add name="database" providerName="Sql" connectionString="Data Source=(local);Initial Catalog=DRE;Pooling=False;MultipleActiveResultSets=true;User Id=sirius;password=$1R1U5"></add>
		<add name="s4i" providerName="Sql" connectionString="Data Source=(local);Initial Catalog=PURE;Pooling=False;MultipleActiveResultSets=true;User Id=sirius;password=$1R1U5"></add>
	</connectionStrings>
    <system.web>
    	<httpRuntime maxRequestLength="204800" executionTimeout="360" />
        <compilation debug="false" />
        <authentication mode="Windows" />
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
      </protocols>
      <soapExtensionTypes>
        <add type="SoapLogger.ServerSideSoapLogger, SoapExtLib" priority="1" group="Low" />
        <add type="SoapLogger.ClientSideSoapLogger, SoapExtLib" priority="1" group="Low" />
      </soapExtensionTypes>
    </webServices>
    </system.web>
    <applicationSettings>
        <RuleEngineManagerService.Properties.Settings>
            <setting name="RuleSetPath" serializeAs="String">
        <value>C:\DRE\Services\bin\RuleSets\</value>
            </setting>
            <setting name="DebugPath" serializeAs="String">
        <value>C:\DRE\Services\bin\RuleSets\Debug\</value>
            </setting>
        </RuleEngineManagerService.Properties.Settings>
		<ruleLineHandler>
			<runtimeHandlers>
				<clear />
			</runtimeHandlers>
		</ruleLineHandler>
    </applicationSettings>
	<executorAudit enabled="false" logInput="false" logOutput="false" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" />
        <bindingRedirect oldVersion="1.0.20229.20821" newVersion="4.1.40412.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.webServer>
        <handlers accessPolicy="Read, Script" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
        </httpErrors>
    </system.webServer>
</configuration>